In [202]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror{font-family:Consolas; font-size:15pt;}
div.text_cell_render.rendered_html{font-size:15pt;}
div.output{font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:15pt;}
div.prompt{min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_renderulli{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 5. 연산자
## 5.1 산술연산자 :+,-,*,/ (결과 float), // (몫), %(나머지), ** (제곱)

In [1]:
print ('10의 5승 =', 10**5)
print('4/2(결과 실수) =', 4/2)
print(int(4/2))

print('5//2(몫)= ',5//2)
print('5%2(나머지)= ',5%2)

print(5/2)

10의 5승 = 100000
4/2(결과 실수) = 2.0
2
5//2(몫)=  2
5%2(나머지)=  1
2.5

In [2]:
# 정수끼리 연산은 결과가 정수 (나누기 제외)
#정수와 실수, 실수끼리 연산 결과는 실수

print ("4**2=", 4**2)
print ("4**2=", 4**2.0)

4**2= 16
4**2= 16.0

In [3]:
#QUIZ 1. 정수를 입력받아 짝수인지 홀수인지 출력 --내 답

input_number = int(input("Insert any number: "))
if input_number/2 == 0:
    print("This is an even number")
else: 
    print("This is an odd number")

Insert any number:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#QUIZ 1. 정수를 입력받아 짝수인지 홀수인지 출력 
num = int(input('정수를 입력하세요:'))
result = num % 2 # -1,0,1
if result:
    temp = '홀수'
else:
    temp = '짝수'
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다")

In [ ]:
#QUIZ 2. 정수를 입력 받아 5의 배수인지 여부를 출력 -- 내 답

multiple_number = int(input("Insert any number: "))
if multiple_number%5:
    print('it is not a multiple of 5')
else:
    print('it is a multiple of 5')

In [ ]:
num = int(input('정수를 입력하세요'))
if num%5:
    print("5의 배수가 아닙니다")
else:
    print("5의 배수입니다")

In [ ]:
# QUIZ 3. 국영수 점수를 입력받아 

Korean = int(input("국어점수를 입력하세요"))
English = int(input("영어점수를 입력하세요"))
Math = int(input("수학점수를 입력하세요"))

total = Korean + English + Math
Average = total/3

print("국어: ",Korean, '\t','영어: ',English,'\t','수학: ',Math,'\n', '총점: ',total,'\t', '평균: ',"{:.1f}".format(Average))

In [ ]:
Korean = int(input("국어점수를 입력하세요"))
English = int(input("영어점수를 입력하세요"))
Math = int(input("수학점수를 입력하세요"))

total = Korean + English + Math
Average = total/3

print("국어: {} \t 영어: {} \t 수학: {} \n 총점: {} \t 평균: {:.1f}".format(Korean, English, Math, total, Average))

## 5.2 할당연산자 : =, +=, -=, /=, //=, %=

In [ ]:
a = b = 10 #==> 왼쪽부터 실행

In [ ]:
x = 10
x += 5 # x = x + 5
print (f'x = {x}')

In [ ]:
x -= 5 # x = x-5
print("5빼기: ",x)
x *=10 # x = x*10
print("10배 :",x)
x //= 5 # x = x//5
print ("5 나눈 몫", x)

## 5.3 논리연산자: &, and, |, or, not

In [ ]:
# & : 논리연산자, 비트연산자
print((10>3) & (10>5)) #논리연산 True & True
print(10>3 & 10>5) # 3 & 10 비트연산 우선 시행하게 됨
print (12 & 1) # 비트연산 1 1 0 0 (12)
              #          0 0 0 1 (1)
              #      &:  0 0 0 0 
print("{:4b}".format(12))

In [ ]:
# and : 논리연산자, false로 판별되는 첫번째 항의 결과 반환
    # 모든 항이 True면, 마지막 항을 반환
# 앞이 false면 뒤 볼 필요도 없이 false. 앞이 false가 아님면 false 나올때까지
print((10>3) and (10>5))
print (0 and 1)

In [ ]:
# | : 논리연산, 비트연산
result1 = False | False
result2 = False | True
result3 = True | False

print(result1,result2,result3)
print('논리연산(연산자 앞뒤에 논리형일떄) : ',  result)
result = False | 3  # 0 0 0 0  (0)
                    # 0 0 1 1  (3)
print('비트연산(연산자 앞이나 뒤가 숫자일 때)', result)

In [ ]:
# or : 논리연산, 참으로 판명되는 첫번째 항의 결과를 반환
        #모든 항이 거짓이면 

print(False or 0 or '', None or [])
print(False or '1' or 0 or '' or None or [] or True)

In [4]:
not  10>5

False

## 5.4 비교연산자: >, >=, <, <=, ==(같다), != (다르다)

In [5]:
# 비교연산자는 이항, 삼항, 사항, ... 다항연산자
x = 95
print((90<=x) & (x<=100))
print(90<=x & x<=100)
print (90<=x<=100 >10)

True
True
True

In [6]:
# 비교연산자의 우선순위가 비트연산자 (|,&)의 우선순위보다 낮음

print((10>5) & (10>7))
print(10>5 & 10>7) # 괄호가 없으면 우선순위가 높은 5&10부터 계산 
# 0101 (5) & 1010 (10) ===> F F F F ==> 0 
print (10>0>7 )

True
False
False

In [7]:
address = '목동'
age = 29

print ((address == '목동') & (age <= 30)) # ==> 아래보다는 이런 방식으로 많이 씀
print (address == '목동' and age <= 30)

True
True

In [8]:
'김길동' < '홍길동'
'홍길동' < '김길동' #str 도 비교 가능

False

In [9]:
#문자는 ASCII 코드 순으로 비교 : 특수문자 -> 숫자 -> 대문자 -> 소문자 순서
'scott' > 'tiger'

False

## 5.5 비트연산 : &, |, ^(XOR), ~(반대)

     x    y    x&y    x|y    x^y    ~x
     ---------------------------------
     0    0     0      0     0      1
     0    1     0      1     1      1
     1    0     0      1     1      0
     1    1     1      1     0      0

In [10]:
a = 15 # 8+4+2+1 --> binary: 1111
b = 2  #binary:0010
print ("a = {0:2} : {0:4b}".format(a))
print ("b = {0:2} : {0:04b}".format(b))
print ("a&b = {0:2} : {0:04b}".format(a&b))
print ("a|b = {0:2} : {0:04b}".format(a|b))
print ("a^b = {0:2} : {0:04b}".format(a^b))
print ("~a = {0:2} : {0:04b}".format(~a))
print ("~b = {0:2} : {0:04b}".format(~b))

a = 15 : 1111
b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
~a = -16 : -10000
~b = -3 : -011

# 6. 문자열 다루기
 - 문자열변수 [from:to:step] ==> 일부 문자 추출
 - len(문자열변수) 
 
 - upper() --> 대문자로 변환 ==> 함수(*.upper()형식으로 사용)
 - lower() --> 소문자로
 - title() --> 각 어절의 앞글자만 대문자로
 - capitalize() --> 첫 문자만 대문자로
 
 - count("찾을문자") : 찾을 문자가 몇 개 들어있는지 갯수 반환
 - find('찾을 문자') : 찾을 문자를 왼쪽부터 몇번째에 있는지 index 반환
 - rfind('찾을문자') : 찾을 문자를 오른쪽부터 몇번째에 있는지 index 반환
 - index('찾을문자') : 찾을 문자가 왼쪽부터 몇번째에 있는지 index 반환 (find는 값이 없으면 -1, but index는 값이 없으면 에러)
 - startswith('특정문자') : '특정문자'로 시작하는지 여부 반환
 - endswith ('특정문자') : 특정문자로 끝나는지 여부
 
 - strip() : 문자열 좌우 공백 제거
 - lstrip() : 왼쪽 공백 제거
 - rstrip() : 오른쪽 공백 제거
 - split() : 문자열을 공백 혹은 지정 문자 기준으로 나누어 리스트로 반환
 - isdigit(): 문자열이 숫자문자열인지 여부
 - islower(): 문자열이 소문자인지 여부
 - isupper(): 문자열이 대문자인지 여부
 
 
 
 
 - replace(oldStr,newStr) : oldStr 을 newStr로 변경

In [11]:
temp = 'python is eAsy. PyThon is sMart. python'
temp, len(temp)
print(temp[33:39])
print(temp[0:20:2])
print("대문자로 :" , temp.upper())
print("소문자로 :" , temp.lower())
print("title() :", temp.title())
print("capitalize() :", temp.capitalize())
print('python이 몇번 나오는지: ',temp.count("python"))
print('대소문자 구분없이 python 몇 번', temp.upper().count("PYTHON"))
print('대소문자 구분없이 python 몇 번', temp.lower().count("python"))
print('대소문자 구분없이 python 몇 번', temp.title().count("Python"))
print('python이 나오는 첫index 위치: ', temp.find('python'))
print('python이 나오는 마지막 index 위치: ',temp.rfind('python'))
print('c라는 문자가 나오는 index 위치', temp.find('c')) #찾을 문자가 없는 경우 -1 
print('python라는 문자가 나오는 index 위치', temp.index('python')) #찾을 문자가 없는 경우 error 
#print('java라는 문자가 나오는 index 위치', temp.index('java')) #찾을 문자가 없는 경우 error 
print("python으로 시작하는지 여부: ", temp.startswith('python'))
print("PYTHON으로 시작하는지 여부: ", temp.startswith('PYTHON'))
print("대소문자 구분 없이 python으로 시작하는지 여부: ",temp.lower().startswith('python'))
print('python으로 끝나는지 여부: ', temp.endswith('python'))
print('n으로 끝나는지 여부: ', temp.endswith('n'))
print("python을 R로 변경: ", temp.replace('python','R'))
print("대소문 구분 없이 python을 R로 변경: ", temp.lower().replace('python','R'))
print(temp)

python
pto ses.PT
대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
title() : Python Is Easy. Python Is Smart. Python
capitalize() : Python is easy. python is smart. python
python이 몇번 나오는지:  2
대소문자 구분없이 python 몇 번 3
대소문자 구분없이 python 몇 번 3
대소문자 구분없이 python 몇 번 3
python이 나오는 첫index 위치:  0
python이 나오는 마지막 index 위치:  33
c라는 문자가 나오는 index 위치 -1
python라는 문자가 나오는 index 위치 0
python으로 시작하는지 여부:  True
PYTHON으로 시작하는지 여부:  False
대소문자 구분 없이 python으로 시작하는지 여부:  True
python으로 끝나는지 여부:  True
n으로 끝나는지 여부:  True
python을 R로 변경:  R is eAsy. PyThon is sMart. R
대소문 구분 없이 python을 R로 변경:  R is easy. R is smart. R
python is eAsy. PyThon is sMart. python

In [12]:
int('1,000'.replace(",",""))

1000

In [13]:
temp = "            python is easy         "
notdigit = '1,000'
yesdigit = 1000
yesdigit = '1000'
print('좌우공백제거: ', temp.strip())
print("좌우공백제거전 : [{}]".format(temp))
print("좌우공백제거전 : [{}]".format(temp.strip()))
print("촤측공백제거 : [{}]".format(temp.lstrip()))
print("우측공백제거전 : [{}]".format(temp.rstrip()))
print('isdigit(숫자문자인지) 여부: ', notdigit.isdigit())
print('isdigit(숫자문자인지) 여부: ', yesdigit.isdigit())
print('replace 후 isdigit: ', notdigit.replace(',','').isdigit())
print('대문자인지 여부 :', temp.isupper()) #공백 이외 모두 upper이어야 함
print('소문자인지 여부 :', temp.islower()) #공백 이외 모두 lower이어야 함

좌우공백제거:  python is easy
좌우공백제거전 : [            python is easy         ]
좌우공백제거전 : [python is easy]
촤측공백제거 : [python is easy         ]
우측공백제거전 : [            python is easy]
isdigit(숫자문자인지) 여부:  False
isdigit(숫자문자인지) 여부:  True
replace 후 isdigit:  True
대문자인지 여부 : False
소문자인지 여부 : True

In [14]:
names = "홍길동 김길동 유재하 김태원 김종완 타블로 유재석 유재석"
name_list = names.split()
print(name_list[0],name_list[1])

홍길동 김길동

In [15]:
print('space 단위로 names 분리(List로 반환) : ', names.split(' '))

space 단위로 names 분리(List로 반환) :  ['홍길동', '김길동', '유재하', '김태원', '김종완', '타블로', '유재석', '유재석']

In [16]:
date_str = '2025-09-17'
date_list = date_str.split('-')
print(date_list)
print('년도 : ', date_list[0])
print('월 :', date_list[1])
print('일 :', date_list[2])

['2025', '09', '17']
년도 :  2025
월 : 09
일 : 17

In [17]:
#str_ = "ABC"
str_ = ['A','B','C']
str_ [0], str_[1], str_[2]

('A', 'B', 'C')

In [18]:
# '-' 을 '/'로 바꾸기
temp = "python - 웹(html, css, js) - oracle/mysql(dbms) - DL/ML(M/딥러닝/CNN/RNN) - LLM(RAG)"

#temp.replace('-','/')

#split() & join()을 이용해서 replace역할

splited_temp = temp.split(' - ')
print('분리된 temp :' , splited_temp)

joined_temp = "/".join(splited_temp) # '/'로 매개변수 list연결
print("join temp :", joined_temp)

분리된 temp : ['python', '웹(html, css, js)', 'oracle/mysql(dbms)', 'DL/ML(M/딥러닝/CNN/RNN)', 'LLM(RAG)']
join temp : python/웹(html, css, js)/oracle/mysql(dbms)/DL/ML(M/딥러닝/CNN/RNN)/LLM(RAG)

In [19]:
#문자열을 다룰 수 있는 함수 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7. 시간, 날짜 다루기

In [20]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [21]:
# datetime모듈 (datetime) (datetime.py)안의 datetime, date, time만 load
from datetime import datetime,date,time

## 7.1 시간과 날짜

In [22]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025,9,11,9,30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [23]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M,%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M,%S"))
print(thatday.ctime()) #ctime(): 사람이 읽기 쉬운 형태로

25년09월11일(Thursday) 09:30,00
25년09월11일(Thursday) 09:30,00
Thu Sep 11 09:30:00 2025

In [24]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%Y년 %m월 %d일 %p %I:%M:%S"))

2025-09-17 14:49:51.483376
Wed Sep 17 14:49:51 2025
2025년 09월 17일 PM 02:49:51

In [25]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 5:19:51.483376
6

## 7.2 날짜

In [26]:
# 특정 날자를 갖는 date 객체 생성
someday = date(2025,9,11)  #date는 연, 월, 일만 넣을 수 있음

print(someday)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

2025-09-11
2025년 09월 11일 00:00

In [27]:
# 오늘을 갖는 date 객체 생성

today1 = date.today()
today2 = datetime.now().date()

print(today1 == today2)

True

In [28]:
print(today1.strftime("%Y년 %m월 %d일 %H:%M"))

2025년 09월 17일 00:00

In [29]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간

In [30]:
#특정한 시간을 저장하는 time 객체 생성
t = time(14,30)
t

datetime.time(14, 30)

In [31]:
print(t.strftime("%p %I:%M"))

PM 02:30

In [32]:
print(t.strftime("%Y년 %m월 %d일 %p %I"))

1900년 01월 01일 PM 02

In [33]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:49:51.818472

In [34]:
datetime(1752,1,12,13,3)

datetime.datetime(1752, 1, 12, 13, 3)

# 8. 연습문제

In [69]:
#1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#[출력형식 : 홍길동님의 나이는 23 살입니다]

name = '홍길동'
age = '23'

print('1. Answer: ','{}님의 나이는 {}살입니다'.format(name,age))

1. Answer:  홍길동님의 나이는 23살입니다

In [129]:
#2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
int_1 = int(input('insert a number: '))
int_2 = int(input('intert another number: '))

add_ = int_1 + int_2

sub_ = int_1 - int_2
mult_ = int_1 * int_2
Div_ = int_1 / int_2
quot_ = int_1 // int_2
remain_ = int_1 % int_2

print('2. Answer: ','\n덧셈: {} \n뺄셈: {} \n곱셈: {} \n나눗셈: {} \n몫: {} \n나머지: {}'.format(add_,sub_,mult_,Div_,quot_,remain_))

insert a number: 10
intert another number: 5
2. Answer:
덧셈: 15
뺄셈: 5
곱셈: 50
나눗셈: 2.0
몫: 2
나머지: 0

In [65]:
#3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World' 가 할당된 변수를 이용하여 ‘World Hello'로 출력하세요

message = 'Hello World'
break_message = message.split()
message_re = break_message[1],break_message[0]
final_message = ' '.join(message_re)

print('3. Answer: ', final_message)

3. Answer:  World Hello

In [71]:
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용

x = 'abcdef'
print('4. Answer:', x[1:]+x[0])

# 5. x = ' abcdef ＇를 이용하여 fedcba 로 출력하세요
print('5. Answer:',x[::-1])

4. Answer: bcdefa
5. Answer: fedcba

In [132]:
'''
오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 화
씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경
우 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,
F 는 화씨
C = (F32) / 1.8
F = (C1.8) + 32
'''

Temp_C = int(input("Today's Temerature in Celcius?"))

Temp_F = (Temp_C * 1.8) +32

if Temp_F % 1 == 0:
    print('6. Answer: ', int(Temp_F),'degree Fahrenheit')
else: 
    print("6. Answer: ", '[{:.2f}]'.format(Temp_F), 'degree Fahrenheit')

Today's Temerature in Celcius?0
6. Answer:  32 degree Fahrenheit

In [131]:
'''
다음 중 변수 선언으로 잘못된 것을 모두 고르시오
①for
②10th
③Student.name
④_1234

'''

print('7. Answer: ', 2)

7. Answer:  2

In [123]:
#text = "Seoul A001 - programming with python"
#print(text[:4]+text[-1]+text.split()[0])
#print(text[:4], text[-1], text.split()[0])


print(' 8. Answer: SeounSeoul\n','9. Answer: Seou n Seoul')

 8. Answer: SeounSeoul
 9. Answer: Seou n Seoul

In [119]:
'''
다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은
① 수식 8//2 결과 4
② 수식 8/2 결과 4
③ 수식 8 **2 결과 64
'''

print (' 9. Answer: 2')

 9. Answer: 2

In [121]:
#10 아래 프로그램의 결과는
'''
x = 5 
y = 'John'
print(x + y)

'''

print('10. Answer: Error')

10. Answer: Error

In [122]:
#11. split() 함수를 이용하여 str_ 의 값 중 나라 를 출력하는 프로그램을 완성하시오

str_ = "우리 나라 대한 민국"
sep_str = str_.split()

print('11. Answer: ', sep_str[1])

11. Answer:  나라