In [104]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror{font-family:Consolas; font-size:15pt;}
div.text_cell_render.rendered_html{font-size:15pt;}
div.output{font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:15pt;}
div.prompt{min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_renderulli{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 1. 변수
- 변수: 프로그램 작업 처리를 위하여 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수 할당
- 할당연산자 (=)를 이용해서 값을 할당하면 자료형(타입)이 세팅 --> "=" is not "Equal" Equal is "=="
- 파이썬에서 모든 변수는 객채로 저장  --> what is 객체? i dont get it

In [34]:
r = 5 #실수 (int)
area = 3.14 * r * r
print("넓이 :", area)

넓이 : 78.5

In [35]:
print('area 주소 :',id(area))
print('area의 타입 :',type(area))

area 주소 : 2508140486864
area의 타입 : <class 'float'>

In [38]:
import numpy as np # numpy라는 package를 np라는 이름으로 사용
area=np.pi*r*r
print('넓이 :',area)

#print(area), 그냥 area 하면 out[] 값만 나오는데?

넓이 : 78.53981633974483

In [39]:
print('area 주소 :',id(area))
print('area의 타입 :',type(area))

area 주소 : 2508140486128
area의 타입 : <class 'float'>

In [37]:
area.is_integer()

False

In [41]:
area=10
print('area 주소 :',id(area))
print('area의 타입 :',type(area))

area 주소 : 2508026610192
area의 타입 : <class 'int'>

In [42]:
area = "파이썬"
print('area 주소 :',id(area))
print('area의 타입 :',type(area))

area 주소 : 2508158234864
area의 타입 : <class 'str'>

## 1.2 변수(함수) 이름 규칙
- 문자로 시작 (숫자 시작 불가)
- 문자, (특수문자는 언더바 "_" 이외 불가), 숫자, 언더바 "_"만 사용하여 변수명 작성
- 함수명으로 변수이름으로 사용 (technically possible but avoid it). 꼭 써야한다면 "함수명"+"_" 형식으로 사용
- 파이썬 예약어 (for, if, ..) 변수명 사용 불가 
- 한글 변수 사용 가능하나 꼭 필요시에만

In [44]:
이름 = '홍길동'
print (이름)

홍길동

In [49]:
#member.name = "홍길동" => 불가 "."은 변수에 넣기 불가
member_name = '홍길동'
memberName = '홍길동'
print(member_name, memberName)

홍길동 홍길동

In [52]:
#숫자 : 정수[int](소수점 x), 실수[float] (소수점 o), 복소수 (complex number) --> 허수는 i가 아니라 j로 씀
i = 1 + 3j #복소수
print (type(i))
print (i)

<class 'complex'>
(1+3j)

In [58]:
isinstance (i,complex) # isinstance (변수이름, 타입) --> 변수가 타입의 객체인지
isinstance (i,float)
isinstance (i,int)

False

In [57]:
print(isinstance (i,complex))
print(isinstance (i,float))
print(isinstance (i,int))

True
False
False

## 1.3 다중 변수 선언

In [74]:
a,b = 10,20 #동시에  들어감
print(a,b)

10 20

In [75]:
a, b = b,a+b #a에 기존 b 값, b에 기존 a값+b값
# 다중 변수 할당시 순차적 할당이 아닌, 일괄 동시 할당
print (a,b)

20 30

## 1.4 도움말

In [77]:
help (print) #help(함수)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [82]:
help() # help 빠져나오려면 q 입력. esc+o로 결과 접기/펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [83]:
#도움말 기능 : shift + tab키 ==> 도움말 단축키 ==> 괄호 안에 커서 있을 때 키 누르기
print()

In [94]:
#함수 만들기 def add(매개변수1,매개변수2)
#''' 이 사이는 함수 도움말
#'''
def add(x,y=0):
    '''
    매개변수 (x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨 (default 값 0 만들려면 y=0으로 입력)
    '''
    return x*10+y

In [97]:
add(3,4)

34

In [98]:
add(3)

30

In [99]:
help(add)

Help on function add in module __main__:

add(x, y=0)
    매개변수 (x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨 (default 값 0 만들려면 y=0으로 입력)

# 2. 화면 i/o (입출력)

In [119]:
#input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 항상 str (문자) 으로 받음 input앞에 int를 넣어서 숫자로 변환
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?10
두번째 숫자는?5

In [120]:
print (first, second)

10 5

In [123]:
print('두 수의 합은', first+second)

두 수의 합은 15

In [142]:
#print()는 print(value, sep, end) 중 sep과 end를 쓰지 않아도 작동
#(값, 여러 값을 분리시켜주는 문자(안쓰면 " "),출력 후 어떻게 할지 (안쓰면 줄바꿈(\n)))
# \t==> tab \n ==> 줄바꿈
print('first', first, 'second', second, sep="--", end="\t") 
print('Hello', 'Python', sep=' ')

first--10--second--5	Hello Python

# 3. 기본 자료형
- 자료형 : 변수가 가저야 할 값의 형식. --> 자료형에 따라 값의 크기 (memory size) 와 저장 방식이 달라짐
 8bit = 1byte
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
    * `숫자` : int, float, complex
    * `문자` : str
    * `논리` : bool (T/F)
    
## 3.1 숫자형

In [148]:
import sys
print (sys.maxsize) #정수의 최대값 == 2**63 - 1

9223372036854775807

In [150]:
2**63 -1

9223372036854775807

In [155]:
i = sys.maxsize -1000000000000000000000
print(i)
print (type(i))

-990776627963145224193
<class 'int'>

In [166]:
g=0.0000000000012
print(g)
f = 1.2e-12  #지수형태
print(f)
b = 1.2e20 #큰 수도 가능
print(b)

1.2e-12
1.2e-12
1.2e+20

In [176]:
#파이썬에서 divide의 result = 무조건 실수 (float)
f = 4/2
print ('f=',f)

f= 2.0

In [185]:
# JAVA / C / C++ 처럼 정수/정수 결과를 정수로
f = int(3/2) #int() : int로 형변환 (내림)
print ('f=',f)

g = 3//2 #몫 연산자
print ('g=',g)

print(type(f),type(g))

f= 1
g= 1
<class 'int'> <class 'int'>

## 3.2 문자형
 - 겹따옴표 (""), 홀따옴표 ('') 이용

In [201]:
name = '홍길동\'짱\'' # 홍길동 '짱' 등 전체텍스트에 따옴표를 넣고 싶은 경우 역슬래시
print (name)

name1 = "홍길동'짱'"
address = '서울시 관악구 "신림"동'
address1 = "서울시 관악구 \"신림\"동"

print(name, address)
print(name1, address1)

홍길동'짱'
홍길동'짱' 서울시 관악구 "신림"동
홍길동'짱' 서울시 관악구 "신림"동

In [207]:
#escape 문자 (탈출문자) : \n, \t

text = '여러줄 \t짜리 내용을 저장 \n줄바꿈 문자를 쓰면 여러줄 \n줄바꿈'
print (text)

여러줄 	짜리 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈

In [220]:
text1 = '''123
456
789'''
#여러줄짜리 내용을 저장 (''' (내용) ''') '''에 줄 바꿔서 쓰면 줄 바꿈으로 인식 '''과 붙혀서 쓸 것
print (text1)

123
456
789

### ※ 문자열 연산 (+,*)

In [235]:
"""
    여러 줄 주석 용도 
    yyyy.mm.dd 문자열 연산 by john doe
    홑따옴표로 사용도 가능
"""

name1 = '홍길동'
name2 = '동해번쩍'

print (name1)
print (name2)
print (name1 + name2)
print(name1, name2)

홍길동
동해번쩍
홍길동동해번쩍
홍길동 동해번쩍

In [243]:
print (name1 * 3)
print (name1 + '1' * 3)
print ((name1 +'1') * 3)
print ((name1 + ' ') * 3)

홍길동홍길동홍길동
홍길동111
홍길동1홍길동1홍길동1
홍길동 홍길동 홍길동

### ※ Raw Data
 - 용도: 정규표현식, 디렉토리 경로 표현시 이용

In [250]:
# Raw Data : 데이터 처리 시 escape 문자 (\n, \t, \', \")를 그대로 저장
print ('Hello\nWorld')
print(r'Hellow\nWorld')

Hello
World
Hellow\nWorld

###  ※ 정규표현식 (Regex)

   1. 참조
   2. 간략문법
       - \d ==> 숫자와 매치. [0-9] 동일 
       - \D ==> 숫자가 아닌 것 
       - \w ==> 영문자 or 숫자 [a-zA-z0-9]
       - \W ==> 영문자 or 숫자가 아닌 문자
       - . ==> 문자
       - \\. ==> .
       - \\- ==> -
        
       - {2,} ==> 2번 이상 반복
       - {2,4} ==> 2-4회 반복
       - ? ==> 0-1회 반복
        
        - + ==> 1회 이상 반복
        - * ==> 0회 이상 반복
        
        
   3. 정규표현식 연습장 :  https://regexr.com
       
       ex1. 전화번호 추출하기 : 02 888 7777 / 028887777/ 010-9999-9999 / 010.9999.9999 / 02)999-9999
       ----> \d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
       
       ex2. email : abc12@naver.com / abc12@sns.co.kr
       ----> \w+@\w+(\.\w+){1,2}
       
       ex3. 주민등록번호 : 981212-1052525
       ----> #\d{2}(0[1-9]|1[0-2])([0[1-9]|[12]\d|30|31)-[1-4]{1}\d{6}
       
       #내가 짠 전화번호 추출
       #\d{2,3}[\- ).]?\d{3,4}[\- ).]?\d{4,4}
       #[0]\d{1,2}[\- ).]?\d{3,4}[\- ).]?\d{4,4}

       #내가 짠 email 추출 ---> 개선: {1,} ==> +
       #\w{1,}@\w{1,}\.(\w|\.){1,}
        
       #내가 짠 주민등록번호 추출
       #\d{6}[ \-][0-4]\d{6} --> 13월에 88일에 태어난 사람도 가능
       
       #\d{2}(0[1-9]|1[0-2])([0[1-9]|1[1-9]|2[1-9]|3[0-1])\-[1-4]{1}\d{6}
   
   
   4. 소스 구현

In [5]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:B ㅋㅋ ㅋㅋㅋㅋzzzz"

print (data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:B ㅋㅋ ㅋㅋㅋㅋzzzz

In [6]:
# 정규표현식 처리에서는 Raw data 처리를 하지 않아도 실행은 됨
# 실수를 줄이고 가독성을 높이는 용도로 raw data 처리
tel_pattern = r"\d{2,3}[ -.)]?\d{3,4}[ -.]?\d{4}"
#해당 패턴을 다 찾아줌. 없는 경우 빈 리스트 반환
tels= re.findall(tel_pattern, data) 
tels

['02-888-8888', '010-9999-9999']

In [7]:
email_pattern = r'\w{1,}@\w{1,}.(\w|.){1,}'
emails = re.findall(email_pattern,data)
emails

[]

In [8]:
# 정규표현식 패턴과 처음 match 되는 것을 찾아줘

firstTel = re.search(tel_pattern, data)
firstTel

In [9]:
print(data[18:29]) #문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [10]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstphone = re.search (tel_pattern,data)
firstphone

In [11]:
print ("전체 전화번호 :", firstphone.group(0))
print ("국번 :", firstphone.group(1))
print ("중간번호 :", firstphone.group(2))
print ("끝번호 :", firstphone.group(3))
print ("이건 뭐지 :", firstphone.group())

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888
이건 뭐지 : 02-888-8888

In [12]:
# data에서 특정 데이터 없애기
re.sub('[^가-힇0-9A-Z\s]',' ',data) #[가-힇]=>전체 한글 범위

'이름 홍길동  주소 서울  전화 02 888 8888  핸드폰 010 9999 9999  특징 동해번쩍 서해번쩍혈액형 B            '

In [17]:
# data 에서 전화번호 없애기 
tel_pattern = r"\d{2,3}[ -.)]?\d{3,4}[ -.]?\d{4}"
re.sub(tel_pattern,' ',data)

'이름:홍길동, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍혈액형:B ㅋㅋ ㅋㅋㅋㅋzzzz'

In [22]:
#파일 경로
file_path = "C:\\ai\\source\\01_python\\Data\\ch02.txt"
file_path = "C:/ai/source/01_python/Data/ch02.txt"
file_path = r"C:\ai\source\01_python\Data\ch02.txt"  #주로 많이 쓰임

In [38]:
file_stream = open(file_path,"w") # w = write, r = read
print ("hello, Python.", "hello, World", sep='\n') # ==> 화면출력
print ("hello, Python.", "hello, World", sep='\n',file=file_stream) # ==> 파일 출력
file_stream.close() #close 하지 않으면 저장 안됨

hello, Python.
hello, World

### ※ 문자열 인덱싱

In [47]:
str_ = '0123456789'
str_

'0123456789'

In [50]:
str_[0], str_[2], str_[-1], str_[-0], str_[-8] #음수 indexing은 마지막이 -1
str_[10] # ==> 없는 인덱싱은 error

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [58]:
'''
문자열인덱싱  ==> 문자열변수[인덱싱번호]
문자열슬라이싱 ==>문자열변수[from:to] from부터 to 앞까지
                문자열변수 [from:to:step] from 부터 to 앞까지 step씩 전진하며 추출 
                    from 생략시 처음부터
                    to   생략시 끝까지
                    step 생략시 1로 계산
'''

'\n문자열인덱싱  ==> 문자열변수[인덱싱번호]\n문자열슬라이싱 ==>문자열변수[from:to] from부터 to 앞까지\n                문자열변수 [from:to:step] from 부터 to 앞까지 step씩 전진하며 추출 \n                    from 생략시 처음부터\n                    to   생략시 끝까지\n                    step 생략시 1로 계산\n'

In [71]:
str_[-5:10], str_[5:], str_[5:10], 
str_[-5:-1] #-5번쨰 부터 -1번째 앞까지

('56789', '56789', '56789', '5678')

In [52]:
str_[2:6]

'2345'

In [54]:
str_[0:10:2]

'02468'

In [76]:
str_[9:0:-1] #9번째부터 0번째 전 까지 -1씩 전진하면서 추출

'987654321'

In [74]:
str_[0:10:0] #==> step 0은 에러

ValueError: slice step cannot be zero

In [79]:
#마지막 글씨부터 처음글씨까지 거꾸로 출력 (9876543210)
print (str_[9::-1])
print (str_[::-1])
print (str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형 (True / False)

In [88]:
a = True
print (a)

b = 10 > 5
print (b)

print(type(a))
print(type(b))

print(isinstance(a,bool))
print(isinstance(a,str))
print(isinstance(a,int))
print(isinstance(a,float))

True
True
<class 'bool'>
<class 'bool'>
True
False
True
False

In [89]:
int(True), int(False)

(1, 0)

In [101]:
bool(1), bool(0), bool(10000), bool (-10000), bool (), bool(""), bool(" ")

(True, False, True, True, False, False, True)

In [103]:
# False로 간주 : 0, ""-빈 스트링 []-빈 리스트 ()-빈 튜플 {}-빈 딕셔너리, None ==> 비어있거냐 0이면 False?
# False로 간주 되는 것 이외 모두 True (Null문자 \0도 TRUE)

In [104]:
if 0:
        print("true")

In [105]:
if "":
    print("true")

In [106]:
if " ":
    print("true")

true

In [107]:
if []:
    print("True")

In [108]:
if []:
    print("true")
else:
    print("False")

False

In [114]:
if None:
    print("True")
else:
    print("False")

False

In [120]:
name = input("what is your name?")
if name: #name이 빈 스트링(False)이 아니면 if문을 수행하겠다
    print ("Your name is",name)
else:
    print ('이름을 입력 안 하셨군요')

what is your name?w
Your name is w

## 3.4 자료형 확인 및 형변환 함수
- type()
- isinstance(변수,타입)==> T/F로 확인
- float() : 실수형으로 변환 (e.g. 1.0, 2.3)
- int()  : 정수형으로 변환
- str()  : 문자형으로 변환
- bool() : 논리형으로 변환

In [121]:
float(4), float("4.1"), float("3"), int(4.9), int("4"), str(4.9 )

(4.0, 4.1, 3.0, 4, 4, '4.9')

In [132]:
#에러 나는 경우
#int(""), int(" "), int(None), int("text")
#float(""), float(" "), float(None), float("text")
#int('123.9') --> int(float('123.9')) 이건 작동. int는 int 형태인 string만 int로 변환 가능
int("9,000")

ValueError: invalid literal for int() with base 10: '9,000'

# 4. 포맷팅
- 포맷팅 :  출력할 문자, 숫자, 날짜 형식을 지정하는 것

## 4.1 문자열에 형식 지정

In [137]:
name = '홍길동'
age = 30

print(name + '님의 나이는 ' + str(age) +'살 입니다')
print(name, '님의 나이는 ', str(age),'살 입니다', sep="")

홍길동님의 나이는 30살 입니다
홍길동님의 나이는 30살 입니다

In [162]:
# /%: 문자, %d:10진수, %f: 실수
print('%s님의 나이는%d살입니다'%(name,age)) #많이 쓰지 않음
print(f"{name}님의 나이는 {age}살입니다") 
print("{}님의 나이는 {}살입니다.".format(name,age)) #많이 씀
print("{0}님의 나이는 {1}살입니다.".format(name,age))
print("{1}님의 나이는 {0}살입니다.".format(name,age))
print("{1:5}님의 나이는 {0:3}살입니다.".format(name,age))
print("{0:>5s}님의 나이는 {1:3d}살입니다.".format(name,age)) # >오른쪽 정렬, <왼쪽정렬
print("{0:<5s}님의 나이는 {1:>3d}살입니다.".format(name,age))
print("{0:<5s}님의 나이는 {1:_>3d}살입니다.".format(name,age))

홍길동님의 나이는30살입니다
홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다.
홍길동님의 나이는 30살입니다.
30님의 나이는 홍길동살입니다.
   30님의 나이는 홍길동살입니다.
  홍길동님의 나이는  30살입니다.
홍길동  님의 나이는  30살입니다.
홍길동  님의 나이는 _30살입니다.

## 4.2 format() 문법
- '{[인덱스]:[공백대체문자(공란시 빈스트링)][정렬방식 (공란시 )[자릿수][타입]}'.format(변수명) 
 * 인덱스 : format 함수 안의 매개변수 순서
 * 정렬방식 : < 왼쪽 정렬, > 오른쪽 정렬, ^ 가운데 정렬
 * 정수 자릿수 : 출력할 자릿수
 * 실수 자릿수 : 전체출력될 자리수, 변주중 출력할 자리수
 * 타입 : d(10진수), o(8진수), x (16진수), b(2진수), f(실수), s(문자)
 * 공백대체문자는 정렬방식을 명시하여야 함

In [4]:
# 숫자의 경우 오른쪽 정렬 (기본)
# 문자의 경우 왼쪽 정렬 (기본)
# 변수보다 작은 자리수를 지정하면 자릿수 무시되고 전부 출력 (정수자릿수)
a = 12345
s = 'hello'
print("[{}][{:10}][{:3}]".format(a,a,a))
print("[{0}][{0:10}][{0:3}]".format(a))
print("[{0}][{0:10}][{0:3}]".format(s))

[12345][     12345][12345]
[12345][     12345][12345]
[hello][hello     ][hello]

In [9]:
# 정렬방식: <^>
a, b, c = 10, 20, 3 #다중변수선언
print("[{:<4}][{:^4}][{:>4}]".format(a,b,c))

[10  ][ 20 ][   3]

In [41]:
#실수 자릿수 (e.g. 10.2) 전체 10자리 출력. but 그 중 소수점 2자리 (반올림) ==> 소수점(.)도 1칸 차지 
# 6.2 ==> 전체 6자리 중 2자리 출력

a = 10
f = 12.569
s = "hello"

print("[{:$>10}][{:$>6.2f}]".format(a,f))
print("[{:$>6.2f}][{:$>6.2f}]".format(a,f))
print("[{:$>10}][{:$>6.2f}][{:_>6.2}]".format(a,f,s))
# 공백대체문자 쓸 경우 반드시 정렬방식 넣을 것

[$$$$$$$$10][$12.57]
[$10.00][$12.57]
[$$$$$$$$10][$12.57][____he]

In [51]:
#자리수 앞 + 붙이면 양수의 영우도 부호 출력
# 부호나 소수점도 자릿수에 포함
a, b = 123, -123

print("[{:+10}],[{:+10}],[{:10}]".format(a,b,a))
print("[{:=10}],[{:=10}],[{:=10}]".format(a,b,a))
print("[{:+=10}],[{:+=10}],[{:10}]".format(a,b,a))
print("[{:=+10}],[{:=+10}],[{:10}]".format(a,b,a))

[      +123],[      -123],[       123]
[       123],[-      123],[       123]
[+++++++123],[-++++++123],[       123]
[+      123],[-      123],[       123]

In [54]:
# 10진수, 8진수, 16진수, 2진수 출력
a = 15

print("10진수[{:4d}]".format(a))
print("8진수[{:4o}]".format(a))
print("16진수[{:4x}]".format(a))
print("2진수 [{:4b}]".format(a))

10진수[  15]
8진수[  17]
16진수[   f]
2진수 [1111]

In [57]:
binary = int(input("number"))
print("[{:b}]".format(binary))

number10
[1010]

In [71]:
a = 2.785
print("[{:+10.4f}]".format(a)) #f를 붙히면 소수점 4자리, 안붙히면 전체 10자리 중 4개 숫자만 출력
print("[{:+10.4}]".format(a))

[   +2.7850]
[    +2.785]

In [103]:
a = 2.785
sign = "+"
width = 10
precision = 1
print("[{:{}{}{}}]".format(a,sign,width,percision))
print("[{:{sign}{width}{precision}}]".format(a,
                                            sign = sign, width = width, precision = precision)) # 앞의 sign은 6번 sign, 뒤 sign은 2번

[                                                                                               +2.785]
[                                                                                               +2.785]

## 4.3 날짜 출력

In [113]:
#import datetime # datetime 모듈(python 프로그램 파일 datetime.py) 전체 메모리 load

from datetime import datetime #datetime모듈 안의 datetime만 메모리 load
thatday1 = datetime(2025,9,11) # 25년 9월 11일 0시 0분 0초 (년월일만 넣으면 시간은 0시 0분 0초)
#thatday2 = "25년 9월 11일 9시 30분" ==> string 타입, 연산불가
thatday2 = datetime(2025,9,11,14,30,0)


print(thatday1)
print(thatday2)

2025-09-11 00:00:00
2025-09-11 14:30:00

In [127]:
#Y (년도 4자리), y (년도 2자리), m (월) d(일) p(am/pm) I (12시간) H(24시간) M(분) S(초) (소문자s는 없음)
print("{}".format(thatday1))
print("{:%Y년}".format(thatday1))
print("{:%y년}".format(thatday1))
print("{:%m월}".format(thatday1))
print("{:%M월}".format(thatday1))
print("{:%d일}".format(thatday1))
print("{:%D일}".format(thatday1))
print("{:%S초}".format(thatday1))
print("{:%s 초}".format(thatday1))

2025-09-11 00:00:00
2025년
25년
09월
00월
11일
09/11/25일
00초

ValueError: Invalid format string

In [126]:
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday2))
print("{:%y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

25년 09월 11일 00시 00분 00초
25년 09월 11일 14시 30분 00초
25년 09월 11일 AM 12시 00분 00초
25년 09월 11일 PM 02시 30분 00초

In [132]:
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")

'25년 09월 11일 00시 00분 00초'

In [133]:
thatday2.strftime('%y년 %m월 %d일 %p %I시 %M분 %S초')

'25년 09월 11일 PM 02시 30분 00초'

In [136]:
#현재 날짜와 시간
# datetime(2025,9,11,14,30) : 특정 날짜와 시간

now = datetime.now() #지금
now - thatday1 # 날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=53705, microseconds=977502)

In [143]:
#지금 (날짜와 시간) 원하는 스타일로 출력
print ("{}".format(now)) #microsecond까지 너무 상세하게 나옴
print ("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime('%Y-%m-%d %p %I:%M')) # 많이 쓰는 방식

2025-09-15 14:55:05.977502
2025-09-15 PM 02:55
2025-09-15 PM 02:55

In [145]:
#지금을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M") #현재 시간을 원하는 형태로 전환하는 함수

'2025-09-15 PM 03:00'