In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror{font-family:Consolas; font-size:15pt;}
div.text_cell_render.rendered_html{font-size:15pt;}
div.output{font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:15pt;}
div.prompt{min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_renderulli{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터구조 </font></b>
 - 변수 1개에 1개 데이터 = 스칼라 데이터
 - 리스트 [10,20], 튜플(10,12), 딕셔너리{"name":홍길동,"score":99}, 셋{10,20}
 
 # 1. 리스트
 ## 1.1 리스트 만들기
 - []를 이용해서 만들며, 여러 값(여러 타입)을 하나의 변수에 저장/관리 가능
 - list() 함수 이용도 가능
 - 인덱스 : 각 요소의 위치, 인덱스는  0부터 시작. 마지막 인덱스는 -1
 - 슬라이싱[from:to:step]
 - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기가 가능

In [3]:
fruit = 'banana'
fruits = ['banana', 'apple','orange','grape']
print (fruits)

fruits[0] = 'pineapple'
print (fruits)

fruits[0]

['banana', 'apple', 'orange', 'grape']
['pineapple', 'apple', 'orange', 'grape']

'pineapple'

In [7]:
print(fruits)
print(fruits[3])#인덱싱을 이용한 읽기
#print(fuits[4]) --> 없는 인덱싱은 에러

['pineapple', 'apple', 'orange', 'grape']
grape

In [8]:
fruits [0] = 'mango' #인덱싱을 이용한 쓰기
print (fruits)

['mango', 'apple', 'orange', 'grape']

In [9]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango','apple', 'orange']

In [13]:
print(f"y={y}")
print("{}".format(x))

y=apple
mango

In [17]:
# range(from,to,by) : from 부터 to 앞까지 by씩 증가하는 나열 가능한 자료
    #숫자를 순차적으로 사용 할 수 있게
    #from 생략시 0, by 생략시 1, to는 생략 불가
range(0,10,1) #[0,1,2,3,4,5,6,7,8,9]
range(10) # from, by생략

range(0, 10)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(10,-1,-1))
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [33]:
i='3'
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i)
    
for j in range(10):
    print(j)
    
for i in range(-5,6,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
-5
-4
-3
-2
-1
0
1
2
3
4
5

In [39]:
fruits = ['mango', 'apple','orange']


print("0번쨰 과일은 " + fruits[0])
print("1번쨰 과일은 " + fruits[1])
print("2번쨰 과일은 " + fruits[2])

print("{}번째 과일은 {}".format(0,fruits[0]))
print("{}번째 과일은 {}".format(1,fruits[1]))
print("{}번째 과일은 {}".format(2,fruits[2]))

0번쨰 과일은 mango
1번쨰 과일은 apple
2번쨰 과일은 orange
0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [46]:
for idx in range(3):
    print("{}번째 과일은{}".format(idx, fruits[idx]))
    
for idx in range(len(fruits)):
    print("{}번째 과일은{}".format(idx, fruits[idx]))

0번째 과일은mango
1번째 과일은apple
2번째 과일은orange
0번째 과일은mango
1번째 과일은apple
2번째 과일은orange

In [50]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [51]:
for i, fruit in [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [52]:
for i, fruit in enumerate(fruits):
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [53]:
for x in fruits: #fruits = ['mango', 'apple','orange']
    print(f"{x}입니다")

mango입니다
apple입니다
orange입니다

In [57]:
#list는 여러 타입의 데이터를 담을 수 있음
numbers = [0,True,"2",[2,3],[4,5,6]]
#2, 5 추출 하려고 할 때
numbers[2], numbers[4][1]

('2', 5)

In [59]:
#2차원 리스트
numbers = [1,2,3,4,5]
numbers_2d = [[1,2,3,4,5,], #0행
              [10,20,30,40,50], #1행
              [1,3,5,7,9],#2행
              [2,4,6,8,10]]#3행
            #0열 1열 2열 3열 4열  
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [61]:
print(numbers_2d[1][4])

50

In [64]:
print(len(numbers_2d))
print(len(numbers_2d),len(numbers_2d[0]))

4
4 5

In [67]:
for row in numbers_2d:
    for item in row:
        print(item,end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [78]:
for i in range(len(numbers_2d)): #i : 행
    for j in range(len(numbers_2d[i])): #j :열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end= '\t')
    print() #개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [68]:
len(numbers_2d)

4

In [70]:
len(numbers_2d[i])

5

In [88]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [99]:
for i,row in enumerate(numbers_2d):
    for 데이터변수 in enumerate(numbers_2d[i]):
        print("{}행 {}열 : {}".format(i,j,numbers_2d[i][j]),end='\t')
    print()

0행 4열 : 5	0행 4열 : 5	0행 4열 : 5	0행 4열 : 5	0행 4열 : 5
1행 4열 : 50	1행 4열 : 50	1행 4열 : 50	1행 4열 : 50	1행 4열 : 50
2행 4열 : 9	2행 4열 : 9	2행 4열 : 9	2행 4열 : 9	2행 4열 : 9
3행 4열 : 10	3행 4열 : 10	3행 4열 : 10	3행 4열 : 10	3행 4열 : 10

## 1.2 기본 정보 조회

In [101]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [99,199,130]]

In [102]:
#item 수
len(numbers), len(numbers_2d)

(5, 3)

In [112]:
#최소값
min(numbers)
min(numbers_2d)

#최대값
max(numbers)
max(numbers_2d)

#2차원 list의 최소/최대값 : 부분리스트 중 첫 요서가 가장 작은/큰 값

min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [114]:
#list의 데이터가 문자일 경우 ASCII 코드 값으로 min과 max 적용

fruits = ['mango,' , 'apple','orange']

min(fruits),max(fruits)

('apple', 'orange')

In [123]:
#정렬하기

numbers = [1,12, 3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print('내림차순 정렬', sorted(numbers,reverse=True))
print('합 :', sum(numbers) )
print('평균 :', sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소 추가
 - + : 두 리스트 연결
 - * : 리스트를 곱한 수 만큼 반복
 - append() : 요소 맨 뒤에 추가
 - extend() : 리스트를 요소별로 맨 뒤줄에 추가
 - index(idx,값) idx번째 인덱스 위치에 값 추가

In [140]:
numbers = [1,2,3]

numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [134]:
numbers = [1,2,3]
print(numbers*3) #곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [135]:
numbers.append(4) #맨뒤에 4 추가
numbers

[1, 2, 3, 4]

In [136]:
numbers.append([5,6,7]) #맨 뒤 요소에 [5,6,7]이 추가
number

[1, 2, 3, 4, [5, 6, 7]]

In [144]:
number = [1,2,3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4,5,6 각각 추가
numbers

[1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [148]:
lst = ['a', 'b', 'c']

lst.append('d')

lst

['a', 'b', 'c', 'd']

In [149]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [150]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [155]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') #1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
    - 변수[index] : 인덱스를 이용한 접근
    = index : 해당 찾을 데이터가 있는 요소의 index 반환
    - 찾을 데이터 in list변수 : 찾을 데이터가 리스트 변수의 요소인지 확인
    - count(찾을 데이터) :리스트에서 해당 찾을 데이터의 갯수 반환

In [159]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.count(3), numbers.count([1,2,3])
numbers.count(5)

0

In [161]:
print(2 in numbers) #2가 number의 요소인지 여부
print(5 in numbers)

True
False

In [163]:
numbers.index(2)
# numbers.index(5) --> error 남

ValueError: 5 is not in list

In [168]:
if 5 in numbers:
    print(numbers.index(5))
else: 
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [170]:
if numbers.count(5):
    print(numbers.index(5))
else: 
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [177]:
def safe_index(lst, item):
    """첫번쨰 매개변수 lst에서 item 요소가 있는 index를 반환, 
    item요소가 없으면 -1반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [8]:
from lst import safe_index #lst.py(모듈 안 safe_index를 메모리에 로드)
numbers = [1,2,3]
safe_index(numbers,2),safe_index(numbers,5)

(1, -1)

In [9]:
number[5] #  벗어난 인덱싱의 경우 에러남

NameError: name 'number' is not defined

In [11]:
numbers[2:5] #벗어난 인덱스로 슬라이싱시 에러 안남

[3]

## 1.5 원하는 요소 추출
- 1. 리스트 슬라싱 
    - [from:to:step] from번째부터 to 앞까지 step 씩 증가하는 index값 추출
        * from 생략시 처음, to 생략시 끝, step 생략시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수도 가능

- 2. **리스트 컴프리핸션** : 원하는 조건의 데이터 추출

In [14]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1]) #거꾸로 출력
print(numbers[::2]) #짝수 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 기능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]

In [26]:
#모든 데이터 추출
for data in numbers:
    print(data,end='\t')

1	3	5	9	10	12	13	18	19	20

In [27]:
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [32]:
#짝수 데이터 추출

for data in numbers:
    if data%2 == 0:
        print(data,end=' ')

10 12 18 20

In [34]:
[data for data in numbers if data%2 ==0]

[10, 12, 18, 20]

In [79]:
#ex1. numbers에서 10 이상인 요소만 추출

for i in numbers:
    if i >=10:
        print(i)
        
[data for data in numbers if data >= 10]

10
12
13
18
19
20

[10, 12, 13, 18, 19, 20]

In [49]:
#ex2. fruits에서 글자가 5글자 이상인 과일
fruits = ['orange','apple','mango','kiwi']

[i for i in fruits if len(i)>=5]

['orange', 'apple', 'mango']

In [81]:
#ex2-1. fruits의 과일 글자수

[len(i) for i in fruits ]

[6, 5, 5, 4]

In [84]:
#ex3. 3 이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]

for i in L:
    if i >= 3:
        print(i**2)
        
[i**2 for i in L if i >=3 ]

9
16
25

[9, 16, 25]

In [ ]:
#ex4. 리스트 요소의 값의 2배 추출

In [87]:

[l*2for l in L]

[2, 4, 6, 8, 10]

 ## 1.6 요소 수정하기
  - 인덱스, 슬라이싱 이용해서 수정

In [92]:
members = [0,1,2,3,4,5,6,7,8,9]
members[2] = 222
members

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [95]:
#슬라이싱 (step부분 미포함) 을 포함하여 부분 리스트를 통째로 수정

members[0:2] = ['xx','xxx','yy','yyy']

members

['xx', 'xxx', 'yy', 'yyy', 'yy', 'yyy', 222, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#슬라이싱 (step부분 포함)을 이용하여 부분 수정시 요소 개수가 맞아야 함

numbers = [0]*10
numbers

print('수정전', numbers)
numbers[0::2]=[1,3,5,7,9]
print('수정후', numbers)

수정전 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 [1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

## 1.7 요소삭제
 - pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
 - pop(idx): idx번째 요소가 반환되고 삭제
 - remove(data): list 안의 daa 삭제
 - del 리스트변수[idx] : idx 번째 요소 삭제

In [30]:
numbers = [0,1,2,3,4,5]

In [11]:
print('삭제한 데이터', numbers.pop())
print('삭제 후',numbers)

삭제한 데이터 5
삭제 후 [0, 1, 2, 3, 4]

In [15]:
print('삭제한 데이터', numbers.pop(1))
print('삭제 후',numbers)
print('데이터 1 삭제')

삭제한 데이터 1
삭제 후 [0, 2, 3, 4, 5]

In [34]:

#numbers.remove(9)
print("데이터1 삭제 후 number :", numbers)
print('del numbers[1]')
del numbers[1]
print(numbers)

데이터1 삭제 후 number : [0, 3, 4, 5]
del numbers[1]
[0, 4, 5]
해당 데이터는 없는 item입니다

In [35]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다')

해당 데이터는 없는 item입니다

In [36]:
numbers.clear() #모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [42]:
numbers = [9,5,0,8,6]
print("number는 변경하지 않고, 정렬결과: ", sorted(numbers))

print("numbers: ", numbers)

number는 변경하지 않고, 정렬결과:  [0, 5, 6, 8, 9]
numbers:  [9, 5, 0, 8, 6]

In [47]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바꿈
numbers

[0, 5, 6, 8, 9]

In [58]:
numbers.sort(reverse=True) # numbers 자체가 내림차순 정렬한 결과로 바꿈
numbers

[9, 8, 6, 5, 0]

In [59]:
numbers.reverse() # 리스트를 역순으로 변경
#numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [62]:
#스칼라데이터 복제
i = 10
cp_i = i
print(f"원본i ={i}, 복사본cp_i = {cp_i} /원본주소= {id(i)}, 복사본주소= {id(cp_i)}")

cp_i = 99
print(f"원본i ={i}, 복사본cp_i = {cp_i} /원본주소= {id(i)}, 복사본주소= {id(cp_i)}")

원본i =10, 복사본cp_i = 10 /원본주소= 1889829454352, 복사본주소= 1889829454352
원본i =10, 복사본cp_i = 99 /원본주소= 1889829454352, 복사본주소= 1889829457200

In [70]:
#데이터 구조의 복제

numbers = [5,6,1,9]
new_numbers = numbers

print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99

print('원본 내용: ',numbers)
print('복제본 내용: ',new_numbers)

원본 주소 : 1889941811584
복제본 주소 : 1889941811584
원본 내용:  [99, 6, 1, 9]
복제본 내용:  [99, 6, 1, 9]

In [73]:
# 할당
numbers = [5,6,1,9]
new_numbers = numbers

new_numbers.sort()
print(numbers)
print(new_numbers)

[1, 5, 6, 9]
[1, 5, 6, 9]

In [80]:
 #리스트 복제 (깊은 복사)
numbers = [5,6,1,9]
new_numbers = numbers.copy() #numbers를 복제 (깊은 복사)
new_numbers.sort(reverse=True) #내림차순정렬
print(numbers,"원본 주소",id(numbers))
print(new_numbers,"복제본 주소",id(new_numbers))

[5, 6, 1, 9] 원본 주소 1889941741376
[9, 6, 5, 1] 복제본 주소 1889941857152

In [79]:
numbers = [5,6,1,9]
new_numbers = sorted(numbers)
print('원본 :',numbers)
print('정렬본 :',new_numbers)

원본 : [5, 6, 1, 9]
정렬본 : [1, 5, 6, 9]

In [81]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print('정렬 전 :', city)
print('정렬 후 :', temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [84]:
temp.clear()
print('정렬 전 :', city)
print('정렬 후 :', temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : []

# 2. 튜플
 - 리스트([])와 유사하지만 읽기 전용 ==> 수정이 필요 없는 데이터에서 사용
 - 수정 불가하므로 튜플에서 데이터 수정, 추가, 삭제 불가
 - 제공되는 함수도 많지 않음
 - () 이용해서 생성, tuple() 함수 이용

In [88]:
city = ('서울','대전','대구','부산','하남','수원','제주')
#파이썬은 여러 값이 전달 될 때 튜플 타입으로 전달
city = '서울','대전','대구','부산','하남','수원','제주'

print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남', '수원', '제주')

In [89]:
#매개변수에 list가 오면 tuple 매개변수로 사용

','.join(city)

'서울,대전,대구,부산,하남,수원,제주'

In [90]:
from lst import safe_index
safe_index(city,'대전')

1

In [91]:
l = ['서울'] #요소가 하나 있는 리스트
print (type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [97]:
city = ('서울',) #요소가 하나 있는 튜플 (o)
print (type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [7]:
numbers = (1,2,3)
#numbers.append(4) ==>수정하기 위한 함수는 제공되지 않음

In [102]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [9]:
numbers.count(2)
#numbers.sort()는 작동하지 않음, 하려면 아래 방식 사용
sorted(numbers)

[1, 2, 3]

In [106]:
numbers.index(3)

2

In [107]:
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [109]:
safe_index(numbers,4)

-1

In [24]:
numbers = (1,4,3,2)
if 4 in numbers[2:]:
    numbers.index(4,2)
else:
    print('no data')
    
    numbers.index(4,1) #index(찾을 데이터, 찾기 시작할 index(공란이면 0))
#numbers.index(4) 없는 데이터는 에러

no data

In [35]:
def safe_index(lst, item, start = 0):
    '''
    첫번째 매개변수 lst : 나열 가능한 자료(list, tuple)
    두번째 매개변수 item: 리스트, 튜플에서 찾을 데이터
    세번째 매개변수 start: 몇번째 인덱스부터 찾을지 index 수(기본값:0)
    '''

    return lst.index(item, start) if item in lst[start:]else -1
    
    
#    if item in lst[start:]:
#        return lst.index(item, start) #start번째 부터 item이 있는 index를 반환
#    return -1

In [40]:
safe_index(numbers,2,2)

3

In [38]:
#위의 if문을 조건식을 이용하여 한줄 코드로 변환
x,y = 10,20

def diff(x,y): 
    return x-y if x>y else y-x #if문이 참일때 값 if 조건 else if문이 거짓일때 값
    return result
#    if x>y:
#        return x-y
#    else:
#        return y-x
    
diff(10,20)
diff(20,10)

10

In [43]:
numbers = (1,2,3)
numbers + numbers

(1, 2, 3, 1, 2, 3)

In [50]:
# ex 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력
numbers = (11,2,3,4,5,6)

a=tuple([num**2 for num in numbers if num%2 == 0])
print(a)

(4, 16, 36)

In [51]:
list(a)

[4, 16, 36]

# 3. 딕셔너리
 - {}를 이용해서 키(key)값 (value)의 쌍으로 구성된 자료구조
 - key: 유일한 값 (중복 허용 안함). 리스트는 key로 사용 불가. tuple은 사용 가능
 - 값: 중복 가능. 모든 데이터 타입 가능
 - 인덱스 참조 지원 안함. 키값으로 참조

In [56]:
dic = {'name':'홍길동',1:22,(1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [57]:
len(dic) #데이터 요소 갯수

3

In [59]:
my_favorite = {'fruit':'apple','number':12,'sport':'yoga'}

In [61]:
#변수[키] or 변수.get(키)
print(my_favorite['fruit'])
print(my_favorite.get('number'))

apple
12

In [65]:
#print(my_favorite['people']) #키 목록에 없는 데이터는 에러
print(my_favorite.get('people')) #없는 키를 get 함수로 참조 시 None. get(키,default=none) 리턴 none 싫으면 수정
print(my_favorite.get('people','-'))

None
-

## 3.1 딕셔너리 item 수정, 추가, 삭제

In [73]:
my_favorite = {'fruit':'apple','number':12,'sport':'yoga'}

#한 item 추가하기
my_favorite['people'] = '홍길동'
my_favorite['subject'] = 'AI'

print('추가 후: ', my_favorite)


#한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9

print('하나씩 수정 후: ',my_favorite)

추가 후:  {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}
하나씩 수정 후:  {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}

In [99]:
# 여러 item 한번에 추가
my_favorite.update({'subject':'수학','major':'AI'})

print('여러개 한번에 추가 :', my_favorite)

# 여러 item 한번에 수정
#my_favorite.update({'fruit':'kiwi', 'number':99})
my_favorite.update(fruit='kiwi',number=-99)
print('한꺼번에 수정: ', my_favorite)

여러개 한번에 추가 : {'number': -99, 'sport': 'yoga', 'people': '홍길동', 'fruit': 'kiwi', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정:  {'number': -99, 'sport': 'yoga', 'people': '홍길동', 'fruit': 'kiwi', 'subject': '수학', 'major': 'AI'}

In [94]:
# item 삭제
#del my_favorite['subject']
#print(my_favorite)

#OR

if 'subject' in my_favorite:
    del my_favorite['subject']
    print(my_favorite)
else:
    print('subject 존재 하지 않음')

subject 존재 하지 않음

In [145]:
# item 삭제 2

print('제거한 data: ', my_favorite.pop('major')) #major 키 값 반환 후 제거
if 'major' in my_favorite:
    print('제거 data:', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

KeyError: 'major'

## 3.2 딕셔너리 출력하기

In [101]:
#for문을 이용한 튜플 출력

my_tuple = ('홍길동',30,'010-1234-1234')

In [118]:
for data in my_tuple:
    print(data, end='\t')
print() #개행
for idx in range(len(my_tuple)):
    print("{}번째 : {}".format(idx, my_tuple[idx]),end='\t')
    #print(f'{idx}번째: {my_tuple[idx]}', end='\t')
print() #개행
for idx, data in enumerate(my_tuple):
    print(f'{idx}번쨰 : {data}',  end='\t')

홍길동	30	010-1234-1234
0번째 : 홍길동	1번째 : 30	2번째 : 010-1234-1234
0번쨰 : 홍길동	1번쨰 : 30	2번쨰 : 010-1234-1234

In [123]:
my_dict = {'name':'홍길동','age':30,'tel':'010-1234-1234'}

In [130]:
for data in my_dict:
    #print(data) #키만 나옴
    print("{}:{}".format(key, my_dict[key]), end='\t')

NameError: name 'key' is not defined

In [131]:
for key in my_dict:
    print("{}:{}".format(key, my_dict[key]), end='\t')

name:홍길동	age:30	tel:010-1234-1234

In [133]:
my_dict.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [134]:
my_dict.values() #값 목록

dict_values(['홍길동', 30, '010-1234-1234'])

In [136]:
my_dict.items() #키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-1234-1234')])

In [138]:
# for 데이터 임시변수 in [('name', '홍길동'), ('age', 30), ('tel', '010-1234-1234')] <--.items() 값
for key,value in my_dict.items(): # ('name', '홍길동')는 tuple. 그러므로 for 뒤에 변수 하나만 있으면 안됨
    print("{}:{}".format(key,value),end='\t')

name:홍길동	age:30	tel:010-1234-1234

In [143]:
for value in my_dict.values():
    print(value, end = '\t')

홍길동	30	010-1234-1234

In [147]:
list(enumerate(my_dict.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-1234-1234'))]

In [150]:
for no, (key, value) in enumerate(my_dict.items()):
    print("{}.{}:{}".format(no+1,key,value))

1.name:홍길동
2.age:30
3.tel:010-1234-1234

## **in 연산자**

In [151]:
# tuple, list

t = (10, 20, 30)
30 in t #list, tuple, set 에서의 in 연산자 : 요소(데이터, item)가 있는 여부 반환

True

In [154]:
# dictionary
dic = {'name':'홍길동','age':30}
'홍길동' in dic #dictionary에서 in연산자 : key가 있는지 여부 반환
#'홍길동' in dic.values()를 써야함

False

### **복제하기**

In [161]:
my_favorite = {'fruit':'apple','number':12}
new_favorite = my_favorite.copy()
n_favorite = my_favorite

In [167]:
print('origin: ',id(my_favorite),'\n','new: ',id(new_favorite),'\n','n: ',id(n_favorite))

new_favorite['fruit'] ='I like them all'
n_favorite['number']= 1

origin:  2427487420992
 new:  2427498170176
 n:  2427487420992

In [169]:
print(my_favorite,new_favorite,n_favorite)

{'fruit': 'apple', 'number': 1} {'fruit': 'I like them all', 'number': 12} {'fruit': 'apple', 'number': 1}

# 4. 셋
 - 중복을 허용하지 않는 집합 (순서x ==> index도 없음)
 - {}나 set()함수를 이용하여 생성. e.g. set([1,2,1]), set({'name':'홍길동'})
 - 추가: add(), update()
 - 삭제: remove()
 - 집합연산자: & 교집합,  | 합집합, - 차집합

In [ ]:
st = {'name':'홍길동','age':30} #==> dictionary
se = {'홍길동',30} # ==>set

In [171]:
fruits_set = {'banana','orange','apple','tangerine','apple'}
fruits_list= ['banana','orange','apple','tangerine','apple']

print(fruits_set)
print(fruits_list)

{'orange', 'banana', 'apple', 'tangerine'}
['banana', 'orange', 'apple', 'tangerine', 'apple']

In [172]:
s1 = {1,2,2,2,1,5,34,7,4,5,3,3,2}
s1

{1, 2, 3, 4, 5, 7, 34}

In [175]:
s2 = set([1,2,2,2,1,5,34,7,4,5,3,3,2])
s2

{1, 2, 3, 4, 5, 7, 34}

In [177]:
s3 = set((1,2,2,2,1,5,34,7,4,5,3,3,2))
s3

{1, 2, 3, 4, 5, 7, 34}

In [179]:
#set 함수를 이용하여 dictionary를 set으로 전환 할 때는 key만 적용
s4 = set({'name':'홍길동','age':30})
s4

{'age', 'name'}

 ## 추가하기
  - add() : 기본자료형, 튜플 데이터 하나 추가. list, dic,set유형은 add()함수 사용 불가
  - update(): 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dictionary는 key만 추가
      c.f. list의 extend()와 같은 느낌

In [187]:
s = {1,2,3,4}
s.add(2)
s.add(5)
s.add('오')
print("add() 후: ", s)

add() 후:  {1, 2, 3, 4, 5, '오'}

In [195]:
s = {1,2,3}
#s.update([4,5,6])
#s.update((4,5,6))
#s.update({4,5,6})
s.update({"name":'홍','age':'3'})
print('update()후: ',s)

update()후:  {1, 2, 3, 'name', 'age'}

In [202]:
# 1이 있는 상태에서 True 추가, 0이 있는 상태에서 False 추가하면 추가 안됨(True==1, False==0이므로)
s = {1,2,3,1,1}

s.add(True)
s
s.add(0)
s.add(False)
s

{0, 1, 2, 3}

## 제거하기 
 - remove()

In [208]:
s = {1,2,3,1,1}
s.remove(2)

s
#s.remove(9) #없는 요소를 삭제할 경우 에러

if 5 in s:
    s.remove(5)
else:
    print('해당 데이터는 없음')

해당 데이터는 없음

## 집합연산자
 - 집합연산자: & 교집합, | 합집합, - 차집합

In [216]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print("s1 =",s1)
print("s2 =",s2)
print("s1&s2 =",s1&s2)
print("s1|s2 =",s1|s2)
print("s1-s2 =", s1-s2)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}

In [228]:
names = {'abby',"john", 'romeo'}
for name in names:
    print (name)

john
romeo
abby

# 5. enumerate

 - 다른 언어에서는 반복자라고도 부름. 반복문을 처리할 때 사용할 순서객체를 생성하는 함수
 - 리스트, 튜플, 딕셔너리, 셋을 for 문에 사용시

In [237]:
list(enumerate(names))

[(0, 'john'), (1, 'romeo'), (2, 'abby')]

In [238]:
for no, name in enumerate(names):
    print('{},{}'.format(no+1, name))

1,john
2,romeo
3,abby

In [239]:
names = ['abby',"john", 'romeo']
tels = ['416-992-8448','720-215-2291','720-992-2291']
adds = ['Toronto','Boulder',"Atlanta"]

In [242]:
for idx in range (len (names)):
    print(idx,end='\t')
    print("{}, {}님의 연락처는 {}이고, {} 거주".format(idx+1,
                                            names[idx],
                                            tels[idx],
                                            adds[idx]))

0	1, abby님의 연락처는 416-992-8448이고, Toronto 거주
1	2, john님의 연락처는 720-215-2291이고, Boulder 거주
2	3, romeo님의 연락처는 720-992-2291이고, Atlanta 거주

In [245]:
list(zip(names,tels, adds))

[('abby', '416-992-8448', 'Toronto'),
 ('john', '720-215-2291', 'Boulder'),
 ('romeo', '720-992-2291', 'Atlanta')]

In [251]:
for name,tell, add in zip(names, tels, adds):
    print ('{}님의 연락처는 {}이고 {}거주'.format(name,tell,add))

abby님의 연락처는 416-992-8448이고 Toronto거주
john님의 연락처는 720-215-2291이고 Boulder거주
romeo님의 연락처는 720-992-2291이고 Atlanta거주

In [255]:
list(enumerate(zip(names,tels,adds)))

[(0, ('abby', '416-992-8448', 'Toronto')),
 (1, ('john', '720-215-2291', 'Boulder')),
 (2, ('romeo', '720-992-2291', 'Atlanta'))]

In [263]:
for idx, (name, tel, add) in enumerate(zip(names,tels,adds)):
    print ('{}.{}님의 연락처는 {}이고 {}거주'.format(idx,name,tell,add))

    print (f'{idx}.{name}님의 연락처는 {tel}이고 {add}거주')

0.abby님의 연락처는 720-992-2291이고 Toronto거주
0.abby님의 연락처는 416-992-8448이고 Toronto거주
1.john님의 연락처는 720-992-2291이고 Boulder거주
1.john님의 연락처는 720-215-2291이고 Boulder거주
2.romeo님의 연락처는 720-992-2291이고 Atlanta거주
2.romeo님의 연락처는 720-992-2291이고 Atlanta거주

In [172]:
members = [] # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1, 'name':name, 'tel':tel, 'add':add,}
    members.append(member)
print(members)

NameError: name 'names' is not defined

In [176]:
number = [1,2,3]
data = [4,5,6]

number + data

number

[1, 2, 3]

# 연습문제

In [181]:
#다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오

numbers = [1,2,3,4,5,6,7,8,9,10]

In [63]:
#1.숫자 100 을 맨 뒤에 추가하세요
answer_1 = numbers.append(100)
print("Answer1: ",numbers)

Answer1:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [171]:
#2.다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]

numbers.extend(data)
print("Answer2: ",numbers)

numbers += data
print(numbers)

Answer2:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500, 200, 300, 400, 500]

In [167]:
#3.처음 다섯 개 숫자만 출력하세요

print("Answer3: ",numbers[:5])

Answer3:  [1, 2, 3, 4, 5]

In [69]:
#4.리스트에서 짝수 번째 데이터만 출력하세요

print("Answer4: ",numbers[::2])

Answer4:  [1, 3, 5, 7, 9]

In [177]:
#5.짝수번째 데이터를 모두 0 으로 바꾸세요

numbers[::2] = [0]*len(numbers[::2])
print("Answer5: ",numbers)

Answer5:  [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 300, 0, 500, 0, 300, 0, 500]

In [183]:
#6.데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다
answer_6 = sorted(numbers,reverse=True)
print(answer_6)
numbers[::-1]
numbers.reverse()

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [73]:
#다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요

member_info ={"name": "홍길동", "age":20, "address":"서울시 마포구", "score":90}

In [186]:
#7.address 값을 출력하세요

print("Answer 7: ", member_info["address"]) #비추
print(member_info.get('address'))

Answer 7:  서울시 마포구
서울시 마포구

In [75]:
#8.score 를 출력하고 member_info 딕셔너리에서 삭제하세요

answer_8 = member_info.pop('score')
print(answer_8)
print(member_info)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [59]:
#9.address 를 서울시 서대문구 로 변경하세요

member_info['address'] = "서울시 서대문구"

print("Answer9: ", member_info)

Answer9:  {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [108]:
#10.member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

answer10 = member_info.items()
print("Answer10: ",answer10)

Answer10:  dict_items([('name', '홍길동'), ('age', 20), ('address', '서울시 마포구')])

In [114]:
#다음 코드를 실행했을 때 출력되는 것은
#L1 = ("orange","apple","banana","kiwi")
#new_list = [i for i in L1 if len (i) >5]
#print(new_list)

Answer: ['orange','banana']

In [116]:
#다음 코드와 실행결과가 잘못 짝지어진 것은
① print(list(range(10))) #--[0,1,2,3,4,5,6,7,8,9]
② print(list(range(5,10))) #--[5,6,7,8,9]
③ print(list(range(10,0, 1))) #--[9,8,7,6,5,4,3,2,1,0]
④ print(list(range(10,20,2))) #––[10,12,14,16,18]

Answer:3

SyntaxError: invalid character '①' (U+2460) (719576334.py, line 2)

In [127]:
#3.다음 구문에 의해 출력되는 것은
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len (numbers_2d[3])

Answer: 1

1

In [141]:
다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은
numbers = [1,2,3,4,5]
numbers.__________([10,20,30,40,50])
numbers
결과: [1,2,3,4,5,10,20,30,40,50]
    
    
Answer:extend

SyntaxError: invalid syntax (2801182819.py, line 1)

In [142]:
#5.다음 구문을 실행할 때 결과는
#numbers = list(range(10))
#numbers[ : : 2]= [0] * len (numbers[ : :2])
#print(numbers)


[0,1,0,3,0,5,0,7,0,9]

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [144]:
#6. 다음 구문을 실행할 때 결과는
#numbers = [0,1,2,3,4,5,6,7,8,9]
#numbers[ : : 2]= numbers[5:]
#print(numbers)

[5,1,6,3,7,5,8,9,9]

[5, 1, 6, 3, 7, 5, 8, 9, 9]

In [146]:
#7.다음 구문을 실행할 때 결과는
#numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#numbers[ : : 2]= numbers[:5]
#print(numbers)

[0,1,1,3,2,5,3,7,4,9]

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [152]:
#다음 데이터에서 10 을 출력할 수 없는 구문은
my_dic = {'a':10, 'b':20, 'c':30}

answer:1

In [153]:
#다음 프로그램의 결과를 출력하시오
#fruits = [ 'apple', 'banana', 'orange']
#x, y, z = fruits
#print(x)
#print(y)
#print(z)

apple
banana
orange

apple
banana
orange

In [156]:
#다음 프로그램의 결과를 출력하시오
#fruits = [ 'apple', 'banana', 'orange']
#print( len (fruits))

Answer: 3

3

In [157]:
#11.파이썬에서 함수를 만들기 위해 선언하는 단어는

def

SyntaxError: invalid syntax (830505257.py, line 3)

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)