In [5]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror{font-family:Consolas; font-size:15pt;}
div.text_cell_render.rendered_html{font-size:15pt;}
div.output{font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:15pt;}
div.prompt{min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_renderulli{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터구조 </font></b>
 - 변수 1개에 1개 데이터 = 스칼라 데이터
 - 리스트 [10,20], 튜플(10,12), 딕셔너리{"name":홍길동,"score":99}, 셋{10,20}
 
 # 리스트
 ## 1.1 리스트 만들기
 - []를 이용해서 만들며, 여러 값(여러 타입)을 하나의 변수에 저장/관리 가능
 - list() 함수 이용도 가능
 - 인덱스 : 각 요소의 위치, 인덱스는  0부터 시작. 마지막 인덱스는 -1
 - 슬라이싱[from:to:step]
 - 인덱스와 슬라이싱을 이용해서 쓰기와 읽기가 가능

In [3]:
fruit = 'banana'
fruits = ['banana', 'apple','orange','grape']
print (fruits)

fruits[0] = 'pineapple'
print (fruits)

fruits[0]

['banana', 'apple', 'orange', 'grape']
['pineapple', 'apple', 'orange', 'grape']

'pineapple'

In [7]:
print(fruits)
print(fruits[3])#인덱싱을 이용한 읽기
#print(fuits[4]) --> 없는 인덱싱은 에러

['pineapple', 'apple', 'orange', 'grape']
grape

In [8]:
fruits [0] = 'mango' #인덱싱을 이용한 쓰기
print (fruits)

['mango', 'apple', 'orange', 'grape']

In [9]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango','apple', 'orange']

In [13]:
print(f"y={y}")
print("{}".format(x))

y=apple
mango

In [17]:
# range(from,to,by) : from 부터 to 앞까지 by씩 증가하는 나열 가능한 자료
    #숫자를 순차적으로 사용 할 수 있게
    #from 생략시 0, by 생략시 1, to는 생략 불가
range(0,10,1) #[0,1,2,3,4,5,6,7,8,9]
range(10) # from, by생략

range(0, 10)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(10,-1,-1))
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [33]:
i='3'
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i)
    
for j in range(10):
    print(j)
    
for i in range(-5,6,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
-5
-4
-3
-2
-1
0
1
2
3
4
5

In [39]:
fruits = ['mango', 'apple','orange']


print("0번쨰 과일은 " + fruits[0])
print("1번쨰 과일은 " + fruits[1])
print("2번쨰 과일은 " + fruits[2])

print("{}번째 과일은 {}".format(0,fruits[0]))
print("{}번째 과일은 {}".format(1,fruits[1]))
print("{}번째 과일은 {}".format(2,fruits[2]))

0번쨰 과일은 mango
1번쨰 과일은 apple
2번쨰 과일은 orange
0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [46]:
for idx in range(3):
    print("{}번째 과일은{}".format(idx, fruits[idx]))
    
for idx in range(len(fruits)):
    print("{}번째 과일은{}".format(idx, fruits[idx]))

0번째 과일은mango
1번째 과일은apple
2번째 과일은orange
0번째 과일은mango
1번째 과일은apple
2번째 과일은orange

In [50]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [51]:
for i, fruit in [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [52]:
for i, fruit in enumerate(fruits):
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [53]:
for x in fruits: #fruits = ['mango', 'apple','orange']
    print(f"{x}입니다")

mango입니다
apple입니다
orange입니다

In [57]:
#list는 여러 타입의 데이터를 담을 수 있음
numbers = [0,True,"2",[2,3],[4,5,6]]
#2, 5 추출 하려고 할 때
numbers[2], numbers[4][1]

('2', 5)

In [59]:
#2차원 리스트
numbers = [1,2,3,4,5]
numbers_2d = [[1,2,3,4,5,], #0행
              [10,20,30,40,50], #1행
              [1,3,5,7,9],#2행
              [2,4,6,8,10]]#3행
            #0열 1열 2열 3열 4열  
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [61]:
print(numbers_2d[1][4])

50

In [64]:
print(len(numbers_2d))
print(len(numbers_2d),len(numbers_2d[0]))

4
4 5

In [67]:
for row in numbers_2d:
    for item in row:
        print(item,end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [78]:
for i in range(len(numbers_2d)): #i : 행
    for j in range(len(numbers_2d[i])): #j :열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end= '\t')
    print() #개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [68]:
len(numbers_2d)

4

In [70]:
len(numbers_2d[i])

5

In [88]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [99]:
for i,row in enumerate(numbers_2d):
    for 데이터변수 in enumerate(numbers_2d[i]):
        print("{}행 {}열 : {}".format(i,j,numbers_2d[i][j]),end='\t')
    print()

0행 4열 : 5	0행 4열 : 5	0행 4열 : 5	0행 4열 : 5	0행 4열 : 5
1행 4열 : 50	1행 4열 : 50	1행 4열 : 50	1행 4열 : 50	1행 4열 : 50
2행 4열 : 9	2행 4열 : 9	2행 4열 : 9	2행 4열 : 9	2행 4열 : 9
3행 4열 : 10	3행 4열 : 10	3행 4열 : 10	3행 4열 : 10	3행 4열 : 10

## 1.2 기본 정보 조회

In [101]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [99,199,130]]

In [102]:
#item 수
len(numbers), len(numbers_2d)

(5, 3)

In [112]:
#최소값
min(numbers)
min(numbers_2d)

#최대값
max(numbers)
max(numbers_2d)

#2차원 list의 최소/최대값 : 부분리스트 중 첫 요서가 가장 작은/큰 값

min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [114]:
#list의 데이터가 문자일 경우 ASCII 코드 값으로 min과 max 적용

fruits = ['mango,' , 'apple','orange']

min(fruits),max(fruits)

('apple', 'orange')

In [123]:
#정렬하기

numbers = [1,12, 3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print('내림차순 정렬', sorted(numbers,reverse=True))
print('합 :', sum(numbers) )
print('평균 :', sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소 추가
 - + : 두 리스트 연결
 - * : 리스트를 곱한 수 만큼 반복
 - append() : 요소 맨 뒤에 추가
 - extend() : 리스트를 요소별로 맨 뒤줄에 추가
 - index(idx,값) idx번째 인덱스 위치에 값 추가

In [140]:
numbers = [1,2,3]

numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [134]:
numbers = [1,2,3]
print(numbers*3) #곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [135]:
numbers.append(4) #맨뒤에 4 추가
numbers

[1, 2, 3, 4]

In [136]:
numbers.append([5,6,7]) #맨 뒤 요소에 [5,6,7]이 추가
number

[1, 2, 3, 4, [5, 6, 7]]

In [144]:
number = [1,2,3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4,5,6 각각 추가
numbers

[1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [148]:
lst = ['a', 'b', 'c']

lst.append('d')

lst

['a', 'b', 'c', 'd']

In [149]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [150]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [155]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') #1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
    - 변수[index] : 인덱스를 이용한 접근
    = index : 해당 찾을 데이터가 있는 요소의 index 반환
    - 찾을 데이터 in list변수 : 찾을 데이터가 리스트 변수의 요소인지 확인
    - count(찾을 데이터) :리스트에서 해당 찾을 데이터의 갯수 반환

In [159]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.count(3), numbers.count([1,2,3])
numbers.count(5)

0

In [161]:
print(2 in numbers) #2가 number의 요소인지 여부
print(5 in numbers)

True
False

In [163]:
numbers.index(2)
# numbers.index(5) --> error 남

ValueError: 5 is not in list

In [168]:
if 5 in numbers:
    print(numbers.index(5))
else: 
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [170]:
if numbers.count(5):
    print(numbers.index(5))
else: 
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [177]:
def safe_index(lst, item):
    """첫번쨰 매개변수 lst에서 item 요소가 있는 index를 반환, 
    item요소가 없으면 -1반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [8]:
from lst import safe_index #lst.py(모듈 안 safe_index를 메모리에 로드)
numbers = [1,2,3]
safe_index(numbers,2),safe_index(numbers,5)

(1, -1)

In [9]:
number[5] #  벗어난 인덱싱의 경우 에러남

NameError: name 'number' is not defined

In [11]:
numbers[2:5] #벗어난 인덱스로 슬라이싱시 에러 안남

[3]

## 1.5 원하는 요소 추출
- 1. 리스트 슬라싱 
    - [from:to:step] from번째부터 to 앞까지 step 씩 증가하는 index값 추출
        * from 생략시 처음, to 생략시 끝, step 생략시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수도 가능

- 2. **리스트 컴프리핸션** : 원하는 조건의 데이터 추출

In [14]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1]) #거꾸로 출력
print(numbers[::2]) #짝수 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 기능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]

In [26]:
#모든 데이터 추출
for data in numbers:
    print(data,end='\t')

1	3	5	9	10	12	13	18	19	20

In [27]:
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [32]:
#짝수 데이터 추출

for data in numbers:
    if data%2 == 0:
        print(data,end=' ')

10 12 18 20

In [34]:
[data for data in numbers if data%2 ==0]

[10, 12, 18, 20]

In [79]:
#ex1. numbers에서 10 이상인 요소만 추출

for i in numbers:
    if i >=10:
        print(i)
        
[data for data in numbers if data >= 10]

10
12
13
18
19
20

[10, 12, 13, 18, 19, 20]

In [49]:
#ex2. fruits에서 글자가 5글자 이상인 과일
fruits = ['orange','apple','mango','kiwi']

[i for i in fruits if len(i)>=5]

['orange', 'apple', 'mango']

In [81]:
#ex2-1. fruits의 과일 글자수

[len(i) for i in fruits ]

[6, 5, 5, 4]

In [84]:
#ex3. 3 이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]

for i in L:
    if i >= 3:
        print(i**2)
        
[i**2 for i in L if i >=3 ]

9
16
25

[9, 16, 25]

In [ ]:
#ex4. 리스트 요소의 값의 2배 추출

In [87]:

[l*2for l in L]

[2, 4, 6, 8, 10]

 ## 1.6 요소 수정하기
  - 인덱스, 슬라이싱 이용해서 수정

In [92]:
members = [0,1,2,3,4,5,6,7,8,9]
members[2] = 222
members

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [95]:
#슬라이싱 (step부분 미포함) 을 포함하여 부분 리스트를 통째로 수정

members[0:2] = ['xx','xxx','yy','yyy']

members

['xx', 'xxx', 'yy', 'yyy', 'yy', 'yyy', 222, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#슬라이싱 (step부분 포함)을 이용하여 부분 수정시 요소 개수가 맞아야 함

numbers = [0]*10
numbers

print('수정전', numbers)
numbers[0::2]=[1,3,5,7,9]
print('수정후', numbers)

수정전 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 [1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

## 1.7 요소삭제
 - pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
 - pop(idx): idx번째 요소가 반환되고 삭제
 - remove(data): list 안의 daa 삭제
 - del 리스트변수[idx] : idx 번째 요소 삭제

In [30]:
numbers = [0,1,2,3,4,5]

In [11]:
print('삭제한 데이터', numbers.pop())
print('삭제 후',numbers)

삭제한 데이터 5
삭제 후 [0, 1, 2, 3, 4]

In [15]:
print('삭제한 데이터', numbers.pop(1))
print('삭제 후',numbers)
print('데이터 1 삭제')

삭제한 데이터 1
삭제 후 [0, 2, 3, 4, 5]

In [34]:

#numbers.remove(9)
print("데이터1 삭제 후 number :", numbers)
print('del numbers[1]')
del numbers[1]
print(numbers)

데이터1 삭제 후 number : [0, 3, 4, 5]
del numbers[1]
[0, 4, 5]
해당 데이터는 없는 item입니다

In [35]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 item입니다')

해당 데이터는 없는 item입니다

In [36]:
numbers.clear() #모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [42]:
numbers = [9,5,0,8,6]
print("number는 변경하지 않고, 정렬결과: ", sorted(numbers))

print("numbers: ", numbers)

number는 변경하지 않고, 정렬결과:  [0, 5, 6, 8, 9]
numbers:  [9, 5, 0, 8, 6]

In [47]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바꿈
numbers

[0, 5, 6, 8, 9]

In [58]:
numbers.sort(reverse=True) # numbers 자체가 내림차순 정렬한 결과로 바꿈
numbers

[9, 8, 6, 5, 0]

In [59]:
numbers.reverse() # 리스트를 역순으로 변경
#numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [62]:
#스칼라데이터 복제
i = 10
cp_i = i
print(f"원본i ={i}, 복사본cp_i = {cp_i} /원본주소= {id(i)}, 복사본주소= {id(cp_i)}")

cp_i = 99
print(f"원본i ={i}, 복사본cp_i = {cp_i} /원본주소= {id(i)}, 복사본주소= {id(cp_i)}")

원본i =10, 복사본cp_i = 10 /원본주소= 1889829454352, 복사본주소= 1889829454352
원본i =10, 복사본cp_i = 99 /원본주소= 1889829454352, 복사본주소= 1889829457200

In [70]:
#데이터 구조의 복제

numbers = [5,6,1,9]
new_numbers = numbers

print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99

print('원본 내용: ',numbers)
print('복제본 내용: ',new_numbers)

원본 주소 : 1889941811584
복제본 주소 : 1889941811584
원본 내용:  [99, 6, 1, 9]
복제본 내용:  [99, 6, 1, 9]

In [73]:
# 할당
numbers = [5,6,1,9]
new_numbers = numbers

new_numbers.sort()
print(numbers)
print(new_numbers)

[1, 5, 6, 9]
[1, 5, 6, 9]

In [80]:
 #리스트 복제 (깊은 복사)
numbers = [5,6,1,9]
new_numbers = numbers.copy() #numbers를 복제 (깊은 복사)
new_numbers.sort(reverse=True) #내림차순정렬
print(numbers,"원본 주소",id(numbers))
print(new_numbers,"복제본 주소",id(new_numbers))

[5, 6, 1, 9] 원본 주소 1889941741376
[9, 6, 5, 1] 복제본 주소 1889941857152

In [79]:
numbers = [5,6,1,9]
new_numbers = sorted(numbers)
print('원본 :',numbers)
print('정렬본 :',new_numbers)

원본 : [5, 6, 1, 9]
정렬본 : [1, 5, 6, 9]

In [81]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print('정렬 전 :', city)
print('정렬 후 :', temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [84]:
temp.clear()
print('정렬 전 :', city)
print('정렬 후 :', temp)

정렬 전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후 : []

# 2. 튜플
 - 리스트([])와 유사하지만 읽기 전용 ==> 수정이 필요 없는 데이터에서 사용
 - 수정 불가하므로 튜플에서 데이터 수정, 추가, 삭제 불가
 - 제공되는 함수도 많지 않음
 - () 이용해서 생성

In [88]:
city = ('서울','대전','대구','부산','하남','수원','제주')
#파이썬은 여러 값이 전달 될 때 튜플 타입으로 전달
city = '서울','대전','대구','부산','하남','수원','제주'

print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남', '수원', '제주')

In [89]:
#매개변수에 list가 오면 tuple 매개변수로 사용

','.join(city)

'서울,대전,대구,부산,하남,수원,제주'

In [90]:
from lst import safe_index
safe_index(city,'대전')

1

In [91]:
l = ['서울'] #요소가 하나 있는 리스트
print (type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [97]:
city = ('서울',) #요소가 하나 있는 튜플 (o)
print (type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [99]:
numbers = (1,2,3)
#numbers.append(4) ==>수정하기 위한 함수는 제공되지 않음

In [102]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [103]:
numbers.count(2)

1

In [106]:
numbers.index(3)

2

In [107]:
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [109]:
safe_index(numbers,4)

-1