In [116]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror{font-family:Consolas; font-size:15pt;}
div.text_cell_render.rendered_html{font-size:15pt;}
div.output{font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:15pt;}
div.prompt{min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_renderulli{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch05. 함수</font></b>

 - 반복해서 사용할 코드를 묶어, 그것에 이름을 붙힌 것
 - 오버로딩 불가 (같은 이름의 함수는 덮어씀)
 - 함수 정의
 ```
 def 함수명([매개변수1, 매개변수2,....]):
     명령어 1
     명령어 2
     ......
 
 ```
 
 # 1. 함수의 정의 및 사용
 ## 1.1 함수 정의

In [2]:
def my_message(x,msg): #msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i,msg)

In [3]:
#함수의 사용 == 함수 호출
my_message(3,"hello")

0 hello
1 hello
2 hello

In [4]:
#함수 이름 변경
my_msg = my_message
my_message(2,'hello')
my_msg (3,'python')

0 hello
1 hello
0 python
1 python
2 python

In [5]:
type(my_msg),type(my_message)

(function, function)

In [1]:
print('hello') # 파이썬 내장함수 (import 하지 않고 사용할 수 있는 함수)
print = 5
#print('hello')

del print

print('hello')

hello
hello

In [4]:
my_message(2,'hello') #사용자 정의함수, 라이브러리 함수는 del하여도 사용 불가

0 hello
1 hello

In [5]:
del my_messgae #del : 변수 및 함수 제거. 단 라이브러리 함수는 del하여도 사용 불가
my_messgae(2,'hello')

NameError: name 'my_messgae' is not defined

In [15]:
#함수 중복 정의 불가 (오버로딩 불가)
def my_hello():
    print('hello python')
    print('hello world')
def my_hello (cnt): #cnt번 출력
    for i in range (cnt):
        print('hello, python',end='\t')
        print('hello,world')

In [21]:
my_hello(2)

hello, python	hello,world
hello, python	hello,world

In [22]:
__name__

'__main__'

In [26]:
if __name__ == '__main__':
    my_hello(2)

hello, python	hello,world
hello, python	hello,world

In [3]:
import ch05 #ch05모듈이 해석되어 메모리 로드

In [4]:
ch05.my_hello(3)

ch05
hello Python	Hello World
hello Python	Hello World
hello Python	Hello World

In [6]:
from ch05 import my_hello #ch05 모듈 안의 my_hello만 메모리에 로드
my_hello(3)

ch05
hello Python	Hello World
hello Python	Hello World
hello Python	Hello World

## 1.2 docstring

In [9]:
def my_function():
    """
    함수의 첫 라인에 docstring 포함 가능
    함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift-tab으로 docstring 볼 수 있음)
    """
#ddd

In [12]:
print(my_function.__doc__)

    함수의 첫 라인에 docstring 포함 가능
    함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift-tab으로 docstring 볼 수 있음)

In [15]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n 값 미만의 피보나치 수열을 출력하는 함수
    e.g. n=10: 0,1,1,2,3,5,8,13,21,34,55,89
         n=100: 0,1,1,2,3,5,8........
    '''
    a,b=0,1 # 함수 내에 선언한 변수 ==> 지역변수 ==> 함수 내에세만 사용 가능 <반대> 전역변수
    while a < n:
        print(a, end=' ')
        a,b = b,a+b
    print() #개행

In [17]:
fibonacci(100000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025

In [18]:
a,b # 지역변수는 함수 내에서만 사용가능

NameError: name 'a' is not defined

## 1.3 지역변수(local var) 와 전역변수(global var)

In [22]:
global_var = 100

def func1():
    print('함수안: ',global_var)

func1()
print('함수밖: ',global_var)

함수안:  100
함수밖:  100

In [23]:
def func2():
    local_var = 200 # 지역변수 
    print('함수안:', local_var)
func2()

함수안: 200

In [25]:
# print('함수 밖에서 지역변수 : ',local_var) #에러

In [31]:
g_var = 100 # 전역변수
def func3():
    g_var=200 #지역변수 (함수 내에서 할당)
    print('g_var: ',g_var)
func3()
print('g_var: ',g_var)

g_var:  200
g_var:  100

In [33]:
#렉시컬 특성: 변수가 어디서 선언되었는지에 따라 
#변수의 범위가 정해짐

g_var = 100 # 전역변수
def func3():
    print('지역변수 g_var: ',g_var)
    g_var=200 #지역변수 (함수 내에서 할당)
func3()
print('전역변수 g_var: ',g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [34]:
#렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var#함수 내에서의 g_var는 전역변수를 씀
    print('전역변수 g_var: ',g_var)
    g_var=200 #전역변수 g_var에 200 할당
func3()
print('전역변수 g_var: ',g_var)

전역변수 g_var:  100
전역변수 g_var:  200

## 1.4 값에 의한 호출
 - 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일때

In [35]:
foo = 'a' #전역변수
id(foo)

2361156462384

In [36]:
def func1(f): #매개변수는 지역변수
    print('before: ',f, '의 주소는', id(f))
    f = f*3
    print('after: ',f,'의 주소는', id(f))
func1(foo)

before:  a 의 주소는 2361156462384
after:  aaa 의 주소는 2361234488944

In [38]:
print('foo= ',foo,'의 주소는 ',id(foo))

foo=  a 의 주소는  2361156462384

## 1.5 참조에 의한 호출
 - 함수에 변수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체

In [40]:
L = [1,2,3,4,5] 
id(L)

2361267520448

In [44]:
def func2(f): # 매개변수는 지역변수
    print('before: ',f, '의 주소는', id(f))
    f.append(6)
    print('after: ',f,'의 주소는', id(f))
    
func2(L)

before:  [1, 2, 3, 4, 5] 의 주소는 2361267520448
after:  [1, 2, 3, 4, 5, 6] 의 주소는 2361267520448

In [45]:
print("L=",L,'의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 2361267520448

# 2. 함수의 실행결과를 반환하는 return

In [57]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n 값 미만의 피보나치 수열을 출력하는 함수
    e.g. n=10: 0,1,1,2,3,5,8,13,21,34,55,89
         n=100: 0,1,1,2,3,5,8........
    '''
    a,b=0,1 # 함수 내에 선언한 변수 ==> 지역변수 ==> 함수 내에세만 사용 가능 <반대> 전역변수
    while a < n:
        print(a, end=' ')
        a,b = b,a+b
    print() #개행

def fibonacci(n):
    "n미만의 피보나치수열을 list로 return"
    result = [] #수열을 append할 리스트
    a,b = 0,1
    while a<n:
        result.append(a) #리스트에 append
        a,b = b,a+b
    return result, a,b

In [58]:
x = fibonacci(10)
print(x)
print(type(x))

([0, 1, 1, 2, 3, 5, 8], 13, 21)
<class 'tuple'>

In [56]:
x = fibonacci_print(10)
print('x=',x)
print(type(x))

0 1 1 2 3 5 8
x= None
<class 'NoneType'>

### 여러 값 return
 - 여러 값을 갖는 튜플로 return

In [63]:
def swap(a,b):
    '매개변수의 순서를 바꿔서 return'
    return list(b,a) # return (b,a)

In [70]:
x=5 ; y=10
print('함수 실행전 x,y= ',x,y)
x,y = swap(x,y)
print('함수 실행후 x,y= ',x,y)

함수 실행전 x,y=  5 10
함수 실행후 x,y=  10 5

# 3. 함수의 매개변수
## 3.1 기본값을 갖는 매개변수

In [71]:
def make_url(ip,port=80):  #순서인수 > 기본값을 갖는 매개변수 순으로 배치
    return "http://{}:{}".format(ip,port)

In [75]:
print(make_url('localhost',8090))
print(make_url('www.naver.com'))
print(make_url(port=9080, ip='localhost'))

http://localhost:8090
http://www.naver.com:80
http://localhost:9080

## 3.2 기본변수를 갖는 매개변수
 - 기본변수가 스칼라변수
 - 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일때

In [77]:
i = 80
#기본 변수가 스칼라변수일때 : 함수가 정의되는 시점으로 기본값 세팅
def make_url(ip,port=i):
    return"http://{}:{}".format(ip,port)

In [78]:
i=90
make_url("localhost")

'http://localhost:80'

In [99]:
list_ = []
#기본 변수가 리스트, 셋 딕셔너리, 객체일떄 : 함수가 실행되는 시점으로 기본값 세팅
def func3(a,L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [101]:
print(func3(20))

[10, 30, 20]

In [102]:
print('list_=',list_)

list_= [10, 30, 20]

In [106]:
#실행할때마다 L을 공유하는게 싫으면
def func3(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10,[1,2,3]))
print(func3(10))

[10]
[10]
[10]
[1, 2, 3, 10]
[10]

## 3.3 순서인수, 키워드인수
 - 순서인수: 함수에 정의된 순서대로 전달
 - 키워드인수 :인수의 이름을 명시하는 방식
 - 함수 정의시 순서 인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [110]:
def func3(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

In [113]:
lst = []
print(func3(10,lst)) # 순서인수: 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst,a=20)) #키워드인수: 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정

In [114]:
#파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a,b):
    return a+b
def add(a,b,c):
    return a+b+c

In [115]:
add(3,5)

8

In [127]:
# args앞에 * : args가 튜플로 전달받는다
def add(*args):
    #print('args=', args)
    '전달받은 매개변수들의 합을 return, 매개변수가 없는 경우 0을 return'
    sum = 0 #누적변수
    for num in args:
        sum += num #sum = sum+num
    return sum

In [128]:
add(1,2,3,4,5,6)

21

In [132]:
subject = ('python','HTML/CSS','JavaScript','Oracle/MySQL','DBMS')
'-'.join(subject)

'python-HTML/CSS-JavaScript-Oracle/MySQL-DBMS'

In [134]:
#튜플매개변수와 일반매개변수
def concat(*subject,sep):
    return sep.join(subject)

In [136]:
concat('python','HTML/CSS','JavaScript','Oracle/MySQL','DBMS','-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [137]:
#해결책 1: 매개변수 이름을 지정해서 호출
concat('python','HTML/CSS','JavaScript','Oracle/MySQL','DBMS',sep='-')

'python-HTML/CSS-JavaScript-Oracle/MySQL-DBMS'

In [143]:
#해결책 2: 기본값을 갖는 키워드인수 사용
def concat(*subject,sep=' ~ '): #튜플 매개변수 > 키워드인수
    return sep.join(subject)
print(concat('python','HTML/CSS','JavaScript','Oracle/MySQL','DBMS','-'))
print(concat('python','HTML/CSS','JavaScript','Oracle/MySQL','DBMS',sep = ' '))

python ~ HTML/CSS ~ JavaScript ~ Oracle/MySQL ~ DBMS ~ -
python HTML/CSS JavaScript Oracle/MySQL DBMS

In [144]:
#해결책 3 : 추천 (sep을 순서인수 앞으로)

def concat(sep,*subject):
    return sep.join(subject)

In [145]:
concat('~','python','web','DB','MLDL')

'python~web~DB~MLDL'

## 3.5 딕셔너리 매개변수
 - 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [146]:
make_url(ip = 'localhost',port=8080)

'http://localhost:8080'

In [170]:
def func5(**args): #** 딕셔너리로 받음
    print('이름: ', args.get('name','몰라'))
    print('나이: ', args.get('age','30'))
    print('전화: ', args.get('tel','없음'))
    print('주소: ', args.get('address','서울 관악'))
    #print(args)

In [188]:
def func5(**args):
    '''딕셔너리 매개변수로 받아, address 키가 없으면 서울시 관악구로 추가하고
    키 - 값을 출력
    '''
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address 키가 없으면 if True
       # args['address'] = '서울시 관악구'
      #  args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print("{} : {}".format(key,value))

In [189]:
func5(name='홍길동',
      age=30,
      tel='010-2020-3030',
      address='')

{'name': '홍길동', 'age': 30, 'tel': '010-2020-3030', 'address': ''}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-2020-3030
address :

In [159]:
def func(a,b,c):
    return a+b+c
func(1,3)

TypeError: func() missing 1 required positional argument: 'c'

## 3.6 함수정의시 매개변수 순서
 - 순서인수 > 튜플인수(*) > 키워드인수 (기본값) > 딕셔너리인수(**)

In [191]:
#순서인수 > 튜플인수(*) > 키워드인수 (기본값) > 딕셔너리인수(**)
def func6(a,b,*c,**d):
    print('순서인수 a= ',a)
    print('순서인수 b= ',b)
    print('튜플인수 c= ',c)
    print('딕셔너리인수 d= ',d)

In [200]:
func6(10,20,1,2,3,4,5,6,7,8,9,0,1,2,3,'ㅁ','ㄴ',True,name='홍',age=30,adress='신림')

순서인수 a=  10
순서인수 b=  20
튜플인수 c=  (1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 'ㅁ', 'ㄴ', True)
딕셔너리인수 d=  {'name': '홍', 'age': 30, 'adress': '신림'}

In [202]:
#순서인수 > 튜플인수(*) > 키워드인수 (기본값) > 딕셔너리인수(**)

def func7(a,b,c,*d,e=10,**f):
    print('순서인수 a =',a)
    print('순서인수 b =',b)
    print('순서인수 c =',c)
    print('튜플인수 d =',d)
    print('키워드인수(기본값10) e =',e)
    print('딕셔너리인수 f =',f)

In [213]:
func7(10,20,30,1,2,3,4,5,6,e=100,name='가',address='seoul')

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = (1, 2, 3, 4, 5, 6)
키워드인수(기본값10) e = 100
딕셔너리인수 f = {'name': '가', 'address': 'seoul'}

In [217]:
func7(10,20,30,e=100)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워드인수(기본값10) e = 100
딕셔너리인수 f = {}

## 3.7 인수의 언패킹
 - 언패킹: 함수 호출시 매개변수 앞에 * 붙임
 - 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [218]:
def add(*args): 
    sum = 0
    for num in args:
        sum += num
    return sum

In [219]:
add(1,2,3)

6

In [223]:
numbers = (1,2,3)
add(*numbers)

SyntaxError: can't use starred expression here (303511267.py, line 4)

### 딕셔너리 인수언패킹

In [224]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [225]:
func8(shape='rect',width=4,height=30)

{'shape': 'rect', 'width': 4, 'height': 30}
('shape', 'rect')
('width', 4)
('height', 30)

In [227]:
info = {'shape':'react','width':40,'height':30}

In [229]:
func8(**info)

{'shape': 'react', 'width': 40, 'height': 30}
('shape', 'react')
('width', 40)
('height', 30)

# 4. 람다식
 - return 한 줄 짜리 작은 익명함수 ==> 이름없는 함수
## 4.1 람다식 연습

In [3]:
def add(a,b):
    return a+b
add(3,5)

8

In [7]:
add2 = lambda a, b : a + b

In [11]:
print(type(add2))
add2(4,1)

<class 'function'>

5

In [17]:
#ex1. 매개변수로 들어온 값이 홀수인지 짝수인지 return 함수를 람다식으로

def even_odd_check(num):
#    if num%2:
#        result ='홀수'
#    else:
#        result = '짝수'
    result = '홀수' if num%2 else"짝수"

    return result

In [21]:
even_odd_check(5),even_odd_check(40)

('홀수', '짝수')

In [23]:
even_odd_chk = lambda num: '홀수' if num%2 else '짝수'

In [24]:
even_odd_chk(30)

'짝수'

In [30]:
#ex2. 두 매개변수의 차이를 return 하는 함수를 람다식으로

In [ ]:
def diff1(a,b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result

In [29]:
difference_check = lambda a,b : abs(a-b)

In [ ]:
diff = lambda a,b : a-b if a>b else b-a

In [27]:
print(difference_check(2,5))

3

In [31]:
#ex3. 매개변수로 잔액을 받아, 잔액이 0 이상 면 잔액을 return, 음수면 'negative' return
ex3 = lambda balance : balance if balance >=0 else 'negative'

In [33]:
ex3(1000), ex3(-300)

(1000, 'negative')

In [41]:
#ex4. 점수를 입력받아 학점을 80 이상 'A팀' 60 이상 'B팀' 60 미만은 '재시험'
                #100초과 혹 0 미만은 '유효하지 않음' return
ex4 = lambda score : '유효하지 않음' if (score>100) | (score < 0) else ('A팀' if score >= 80 else('B팀' if score >= 60 else "재시험"))

print(ex4(90))

A팀

In [43]:
ex4 = lambda score : '유효하지 않음' if (score>100) | (score < 0) else \
                    'A팀' if score >= 80 else\
                    'B팀' if score >= 60 else "재시험"

In [46]:
# 점수를 입력받아 학점을 return
score_grade = lambda score : 'Not Valid' if (score>100) | (score < 0) else\
                            'A' if score >= 90 else\
                            'B' if score >= 75 else\
                            'C' if score >= 65 else\
                            'D' if score >= 50 else\
                            'F'

In [51]:
score_grade(102)

'Not Valid'

In [59]:
#ex5. safe_index 함수를 람다식으로

def safe_index(lst,item, start=0):
    return lst.index(item, start)if item in lst[start: ] else -1

ex5 = lambda lst, item, start=0 : lst.index(item, start)if item in lst[start: ] else -1

In [61]:
i = 3
lst =[1,2,3,4,5]
safe_index(lst,4), ex5(lst,3,1)

(3, 2)

In [75]:
# 람다식을 리스트에 들어갈 수 있음
add = lambda a,b : a + b
sub = lambda a,b : a - b
mul = lambda a,b : a * b
div = lambda a,b : a / b if b else '두번째 인자가 0' 
operations = [add,sub,mul,div] #사칙연산 함수들

def act_operations(a,b, operations=operations): #a,b 사칙연산결과 return
    result = []
    for op in operations: 
        result.append(op(a,b))
    return result

act_operations(20,5)

[25, 15, 100, 4.0]

In [68]:
act_operations(8,2,[lambda x,y:x**y, lambda x,y : 10*x+y])

[64, 82]

In [78]:
operations.append(lambda x,y:x**y)

In [80]:
act_operations(8,2)

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
 - 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
### (1) map

In [82]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(  func(item)  )
    return result

In [84]:
map_template(lambda a:a, [1,2,3])

[1, 2, 3]

In [85]:
list_data = [1,2,3,4,5,6,7,8,9]
def x_2(x):
    return x*2
map_template(x_2,list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [86]:
map_template(lambda x:x*2,list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [89]:
# 리스트 컴프리헨션
[[(lambda x: x*2)] for item in list_data]

[[<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>],
 [<function __main__.<listcomp>.<lambda>(x)>]]

In [88]:
[item*2 for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [91]:
list(map(lambda x:x*2,list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [95]:
for data in map (lambda x: x*2, list_data):
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

In [96]:
# prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오

In [111]:
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]

SyntaxError: unterminated string literal (detected at line 1) (2632932336.py, line 1)

In [97]:
prices_int = []

#int로 바꾸기
int( xxxxx )

#comma 없애기
replace(',','')

NameError: name 'xxxxx' is not defined

In [ ]:
toint

In [114]:
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
    return int(value.replace(',',''))
prices_int = map(lambda value: int(value.replace(',','')),prices)
for prices in prices_int:
                 print(prices, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [ ]:
#members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
#{'name':'신길동', 'birth':'1995-12-18'},]를

#members2 = [
#{'name':'홍길동', 'year':2000, 'month':1,'day':1},
#{'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환

In [115]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'},]

In [117]:
# {'name':'홍길동', 'birth':'2000-01-01'} 를 {'name':'홍길동', 'year':2000, 'month':1,'day':1}로 바꾸는 함수 만들기
#1 '2001-01-01' => 'year':2000, 'month':1,'day':1로 바꾸기
members1.item(
dicData={'year':y,'month':m,'day':d}

AttributeError: 'list' object has no attribute 'item'

In [152]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'},]
def split_date(date):
    split_date = date.split('-')
    return {'year':int(split_date[0]),
            'month':int(split_date[1]),
            'day':int(split_date[2])
           }

split_date('2000-01-01'), split_date('1995-12-12')

({'year': 2000, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [157]:
# {'birth':'2025-01-01'} ==> {'year': 2000, 'month': 1, 'day': 1}
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'},]
def split_date1(date):
    return {'year':int(date.split('-')[0]),
            'month':int(date.split('-')[1]),
            'day':int(date.split('-')[2])
           }
split_date1('2000-01-01'), split_date1('1995-12-12')

({'year': 2000, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [174]:
# {'name':'홍길동', 'birth':'2000-01-01'} ==> {'name':'홍길동', 'year':2000, 'month':1,'day':1}

members2 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1995-12-18'},]
def split_data(data):
    return {'year':int(data['birth'].split('-')[0]),
            'month':int(data['birth'].split('-')[1]),
            'day':int(data['birth'].split('-')[2])
           }
split_data({'birth':'2000-01-01'})

{'year': 2000, 'month': 1, 'day': 1}

In [172]:
def member_preprocessing(member):
    return{
        'name' : member.get('name'), #member['name']
        'year' : int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day'  : int(member.get('birth').split('-')[2]),
    }

member_preprocessing(members1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [182]:
members10 = list(map(lambda member : {
                                'name' : member.get('name'), 
                                'year' : int(member.get('birth').split('-')[0]),
                                'month': int(member.get('birth').split('-')[1]),
                                'day'  : int(member.get('birth').split('-')[2]),
                            }, members1)    )

In [184]:
members10

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [185]:
'''
예제 3 member2 를 members1로 전환
'''
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

In [186]:
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1},
            {'name':'신길동', 'year':1995, 'month':12, 'day':18},]

In [191]:
members2[0].values()

dict_values(['홍길동', 2000, 1, 1])

In [198]:
{'year':2000, 'month':1,'day':1}

#'[{}-{:02}-{:02}]'.format()

def join_data(date):
    return"{}-{:02}-{:02}".format(date.get('year'),date.get('month'),date.get('day'))
join_data({'year':2000, 'month':1,'day':1})

'2000-01-01'

In [199]:
def join_data(date):
    return"{year}-{month:02}-{day:02}".format(year=date.get('year'),
                                              month=date.get('month'),
                                              day=date.get('day')
                                             )
join_data({'year':2000, 'month':1,'day':1})

'2000-01-01'

In [201]:

def join_data(date):
    return"{year}-{month:02}-{day:02}".format(**date)
join_data({'year':2000, 'month':1,'day':1})

'2000-01-01'

In [206]:
# {'year': 2000, 'month': 1, 'day': 1}  ==> {'birth':'2025-01-01'}
def join_data(date):
    return {"birth" : "{year}-{month:02}-{day:02}".format(**date)}

join_data({'year':2000, 'month':1,'day':1})

{'birth': '2000-01-01'}

In [211]:
# {'name':'홍길동','year': 2000, 'month': 1, 'day': 1}  ==> {'name':'홍길동', 'birth':'2025-01-01'}

def members_preprocessing(member):
    return{
        'name' : member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name':'홍길동','year': 2000, 'month': 1, 'day': 1})

{'name': '홍길동', 'birth': '2000-01-01'}

In [218]:
list(map(lambda member : {
        'name':member.get('name'),
        'birth':"{year}-{month:02}-{day:02}".format(**member)
        },members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [220]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [224]:
list_data = [1,2,3,4,5,6,7,8,9]

def odd_check(value):
    return value%2
#    if value%2:
#        return True
#    else:
#        return False
filter_template(lambda value: value%2 != 0, list_data)

[1, 3, 5, 7, 9]

In [226]:
list(filter(lambda value: value%2 != 0, list_data))

[1, 3, 5, 7, 9]

In [223]:
#리스트 컴프리헨션
[value for value in list_data if value%2 !=0]

[1, 3, 5, 7, 9]

In [235]:
#예제: 다음 리스트에서 소수점 이하가 0인 수만 추출
L = [1,1.2,1.5,3,0,10,5,100,-2.0,-12.2]

In [236]:
list(filter(lambda value : value%1 == 0,L))

[1, 3, 0, 10, 5, 100, -2.0]

In [237]:
[item for item in L if item%1==0]

[1, 3, 0, 10, 5, 100, -2.0]

### (3) sort

In [239]:
p = [10,3,6,1]
p.sort()
print(p)
p.sort(reverse=True)
print(p)

[1, 3, 6, 10]
[10, 6, 3, 1]

In [244]:
#무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2,'two'),(1,'one'),(3,'three'),(4,'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [252]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key = lambda data:data[1],reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [269]:
#합이 큰 순으로 정렬
number_2d = [[9,9],[1,100],[10,200]]

sum(number_2d[0])
number_2d.sort(key=lambda items : sum(items),reverse=True)
print(number_2d)

[[10, 200], [1, 100], [9, 9]]

In [265]:
a=[9,9]
sum(a)

18

In [256]:
number_2d_1 = [[9,9],[1,100],[10,200]]
number_2d_1.sort()
number_2d_1

[[1, 100], [9, 9], [10, 1]]

In [275]:
students = [{'name':'ab' , 'score':99 },
           {'name':'cd', 'score':50 },
           {'name':'ef' , 'score':77 },
           {'score':100}]

In [272]:
name_select = lambda data: data.get('score')
name_select({'name':'ab', 'score':99})

99

In [282]:
#students를 name 순으로 정렬 (ㄱㄴㄷ순)

students.sort(key = lambda data :data.get('name',"가"))
students

[{'name': 'ab', 'score': 99},
 {'name': 'cd', 'score': 50},
 {'name': 'ef', 'score': 77},
 {'score': 100}]

In [284]:
#students를 score 큰 순으로 정렬
students.sort(key=lambda data:data.get('score',0),reverse=True)
students

[{'score': 100},
 {'name': 'ab', 'score': 99},
 {'name': 'ef', 'score': 77},
 {'name': 'cd', 'score': 50}]

In [4]:

books = \
[{'no':2, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
{'no':1, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
{'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
{'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
{'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
{'no':6, 'title':'가격이없음', 'writer':'이길동'},]

books

[{'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [296]:
# 번호, 제목, price 기준으로 sort

#1. price int로 변환
#  - 문자면 패스
# 숫자면 int로

price.isdigit()

NameError: name 'price' is not defined

In [294]:
def intprice(value):
    return int(value.replace(',',""))

("ㅁ0").isdigit()

False

In [ ]:
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
    return int(value.replace(',',''))
prices_int = map(lambda value: int(value.replace(',','')),prices)
for prices in prices_int:
                 print(prices, end=' ')

In [5]:
#no 기준으로 sort
books.sort(key=lambda book : book['no'])
books

[{'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [8]:
#title 기준
books.sort(key=lambda book : book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 2, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [10]:
#price 기준
books.sort(key=lambda book : book.get('price',0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
# 숫자를 숫자로, 문자를 숫자로 변환 or  0 none=> 0

#{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200} ==> 30200


def parse_int (price):
    if isinstance(price,str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price,int): 
        return price
    else:
        return 0


print(parse_int('a'),parse_int('5,000'),parse_int(3000),parse_int(None))

0 5000 3000 0

In [25]:
lambda price : isinstance(price,str) and price.replace(',','').isdigit() else(isinstance(price,int) else(0))

SyntaxError: invalid syntax (577330322.py, line 1)

In [35]:
parse_int = lambda price : \
                        int(price.replace(',','')) if isinstance(price,str) and price.replace(',','').isdigit() else \
                        price if isinstance(price,int) else 0

In [42]:
parse_int = lambda book : \
                        int(book.get('price').replace(',','')) \
                        if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() else \
                        book.get('price') if isinstance(book.get('price'),int) else 0 
parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200})

30200

# 5. 파이썬 내장함수
 - import 하지 않고 바로 사용 가능한 함수
 - 키워드 (if, while) 처럼 간주되무로, 식별자(변수명, 함수명 등) 로 사용하는 것을 피한다

In [1]:
a=10
globals() #전역변수리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'a=10\nglobals()'],
 '_oh': {},
 '_dh': [WindowsPath('C:/ai/source/01_python')],
 'In': ['', 'a=10\nglobals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x00000160E5313730>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x160e531fee0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x160e531fee0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'a=10\nglobals()',
 'a': 10}

In [ ]:
all() #모든 요소가 다 True 인지 여부

# 6. 연습문제 
실습형

In [43]:
1.함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
•def get_max_min(data_list):
•get_max_min= lambda ~

SyntaxError: invalid decimal literal (1209690892.py, line 1)

In [49]:
#2.체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
#•getBMI(kg, m):
#•BMI지수 = 체중(kg) / 신장(m)의 제곱
#•BMI<18.5 : 마른체형
#•18.5<=BMI<25 : 표준
#•25<=BMI<30 : 비만
#•BMI >=30 : 고도비만


def bmi (height,weight):
    bmi_calc = (weight)/(height**2)
    if bmi_calc >=30:
        print('고도비만')
    elif 25<=bmi_calc<30:
        print('비만')
    elif 18.5<=bmi_calc<25:
        print('표준')
    else:
        print('마른체형')

표준

In [51]:
#lambda height,weight :

In [62]:
#3.직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
#• 리턴값은 면적과 둘레를 return하도록 구현하세요
#• math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0

import math

def get_triangle(width, height):
    pythagorean = math.sqrt(width**2+height**2)
    perimeter = width+height+pythagorean
    area = (width*height)/2
    return area,perimeter

get_triangle(3,4)

(6.0, 12.0)

In [73]:
#4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).


def mysum(fRom,end):
    sum = 0
    for i in range(fRom,end+1):
        sum += i
    return sum

mysum(10,12)

33

In [13]:
#5.함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
#•예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]

def get_abbrs(lst):
    f
    return lst[][:3]

print(get_abbrs(['seoul','Daegu']))

['seoul', 'Daegu']

In [23]:
a = lambda lst : map([lst][:3])

lst = (['seoul','Daegu'])

print(a)

<function <lambda> at 0x00000160E7236170>