In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror{font-family:Consolas; font-size:15pt;}
div.text_cell_render.rendered_html{font-size:15pt;}
div.output{font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:15pt;}
div.prompt{min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_renderulli{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch09. 파일 i/o 프로그래밍 </font></b>
 - 파일 : txt, pickle (머신러닝모델저장, 배열 저장), csv, json h5(딥러닝 모델저장)
 
 # 1. txt파일에 데이터 저장하고 불러오기

In [11]:
#mode : 'r' 또는 'rt' : 텍스트 읽기모드로 열기. 파일이 없을 경우 예외
#     : 'w' 또는 'wt' : 텍스트 쓰기모드로 열기. 폴더가 없을 경우 예외
                    # 파일이 없으면 생성, 파일이 있으면 덮어씀
# mode = 'a' 또는 'at' : 텍스트 쓰기모드로 열기. 폴더가 없을경우 예외 발생
                    # 파일이 없으면 생성,파일이 있으면 뒤에 append
f = open('Data/ch09.txt','w') #encoding = 'cp949' (win)
print('쓰기 가능한지 : ', f.writable())

쓰기 가능한지 :  True

In [12]:
f.write('hello\nworld\n')

12

In [13]:
f.close()

In [14]:
f = open('Data/ch09.txt','w') #encoding = 'cp949' (win)
print('쓰기 가능한지 : ', f.writable())

쓰기 가능한지 :  True

In [15]:
#with 구문을 사용하면 매번 close() 하는 코드 불필요

with open('Data/ch09.txt', 'wt') as f:
    print('쓰기 가능한지 :' , f.writable())
    f.write('python is easy\npython is smart\n')

쓰기 가능한지 : True

In [16]:

with open('Data/ch09.txt', 'wt') as f: #cp949
    print("프린트 함수로 파일 쓰기가 가능합니다 - 파일출력",file=f)
    print("프린트 함수로 파일 쓰기가 가능합니다 - 콘솔출력")

프린트 함수로 파일 쓰기가 가능합니다 - 콘솔출력

  - 한글 읽/쓰기 
   * cp949 : (한글완성형확장형) open 함수의 기본 인코딩 방식 (win) 주피터에서 안열림
   * utf-8 : (한글조합형) 주피터 노트북에서 열림

In [9]:
with open('Data/ch09.txt','w',encoding='utf-8') as f:
    #방법1
    f.write('홍길동,30,서울\n')
    f.write('김길동,20,수원\n')

    #방법2
    textlist = ['홍길동, 30, 서울\n','김길동, 20, 부산\n']
    for line in textlist:
        f.write(line)
    
    #방법3
    f.writelines(textlist) #리스트를 한꺼번에 write

In [10]:
#파일을 한꺼번에 읽어오기
with open('Data/ch09.txt','rt',encoding ='utf-8') as f:
    filecontent = f.read()
filecontent

'홍길동,30,서울\n김길동,20,수원\n홍길동, 30, 서울\n김길동, 20, 부산\n홍길동, 30, 서울\n김길동, 20, 부산\n'

In [11]:
#파일을 한 줄 읽고 출력하고, 한 줄 읽고 출력... 데이터가 없을 때 까지

with open ('Data/ch09.txt','r',encoding='utf-8') as txtfile:
    line = txtfile.readline()
    while line != '':
        print (line, end = '') #line에 \n이 포함되어있어 출력시 개행은 제거
        line = txtfile.readline()

홍길동,30,서울
김길동,20,수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

In [12]:
#파일을 한번에 여러줄을 읽어서 한줄씩 list에 담아 return

with open ('Data/ch09.txt','r',encoding='utf-8') as txtfile:
    lines = txtfile.readlines()
print(lines)

['홍길동,30,서울\n', '김길동,20,수원\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n']

In [13]:
for line in lines:
    print (line, end='')

홍길동,30,서울
김길동,20,수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

# 2. 피클을 이용한 객체 저장 및 불러오기
 - 머신러닝 모델 저장, 배열 저장, 객체 저장
 
 ## 2.1 형식이 있는 텍스트 데이터 불러오기

In [15]:
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
#print(lines)

for line in lines: 
    #print(line)
    data = line.split (', ')
    #print(data)
    name = data[0]
    age = int(data[1])
    email= data[2]
    address = data[3].strip()
    print({'name': name,
           'age': age,
           'email':email,
           'address':address})

{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}
{'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'address': '서울시 영등포구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

In [16]:
class Member:
    def __init__(self,name, age, email,address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__ (self):
        return "{},{},{},{}".format(self.name,self.age,self.email,self.address)
#     def __eq__ (self,other):
#         return self.name == other.name and \
#                             self.age == other.age and \
#                             self.email == other.email and \
#                             self.address == other.address
    def __eq__ (self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 dict로 바꿔 return (json파일 저장시 필요)'
        return self.__dict__
#         return ({'name':self.name,
#                'age': self.age,
#                'email':self.email,
#                'address':self.address})

In [17]:
member1 = Member('신길동',30,'shinkil@hong.com','서울시 동작구')
member2 = Member('신길동',30,'shinkil@hong.com','서울시 동작구')
print(member1)
print(member2)
print(member1==member2)
print(member2.__eq__(member1))
print(member1.__dict__)
print(member1.as_dict())

신길동,30,shinkil@hong.com,서울시 동작구
신길동,30,shinkil@hong.com,서울시 동작구
True
True
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

# 2.2 피클링
 - 객체리스트 -> 피클파일로 쓰기
 - 피클파일 -> 객체리스트로 읽기

In [18]:
# ch09.member.txt 파일 -> 객체 list, 딕셔너리 list로 읽어오기
member_list = [] #Member 객체 list
dict_list   = [] #딕셔너리 list
with open ('Data/ch09_member.txt','r', encoding='utf-8') as f:
    lines = f.readlines()
for line in lines:
    data = line.split(',')
    data = [item.strip() for item in data]
    name = data[0]
    age = data [1]
    email = data [2]
    address = data [3]
    member = Member(name, age, email, address)
    member_list.append(member)
    dict_list.append(member.__dict__)
    
    
    
    
#    data = line.strip().split(',')
#    print(data)

In [19]:
for member in member_list: #객체 list
    print(member)

홍길동,20,kildong@hong.com,서울시 관악구
홍길숙,25,kilsuk1@hong.com,서울시 영등포구
신길동,30,shinkil@hong.com,서울시 동작구

In [20]:
# 피클링 (확장자 : pkl, pickle, data)이용 객체를 파일에 저장
import pickle
with open ('Data/ch09_member.pkl','wb') as f: #wb --> b는  binary
    pickle.dump(member_list,f)

In [21]:
#피클링을 이용한 파일을 객체리스트로 읽기
with open ('Data/ch09_member.pkl','rb')as f:
    load_member_list = pickle.load(f)

In [22]:
id (member_list), id(load_member_list)

(2397190805888, 2397190766272)

In [23]:
for idx in range(len(member_list)):
    print(idx, '번째 비교:', (member_list[idx]==load_member_list[idx]))

0 번째 비교: True
1 번째 비교: True
2 번째 비교: True

In [24]:
for member, load_member in zip (member_list, load_member_list):
    print('member: ', member)
    print('load_member: ',load_member)

member:  홍길동,20,kildong@hong.com,서울시 관악구
load_member:  홍길동,20,kildong@hong.com,서울시 관악구
member:  홍길숙,25,kilsuk1@hong.com,서울시 영등포구
load_member:  홍길숙,25,kilsuk1@hong.com,서울시 영등포구
member:  신길동,30,shinkil@hong.com,서울시 동작구
load_member:  신길동,30,shinkil@hong.com,서울시 동작구

In [25]:
for idx, (member, load_member) in enumerate(zip(member_list, load_member_list)):
    print(idx, '번째 비교: ', member == load_member)

0 번째 비교:  True
1 번째 비교:  True
2 번째 비교:  True

In [27]:
result = [] #비교결과(T/F)를 append
for member, load_member in zip (member_list, load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [28]:
all(result) #모든 요소들이 True인지 여부

True

In [29]:
all([True,True,True,False,True])

False

# 3. CSV 파일 읽기/쓰기
 - csv 파일의 자료를 list data로 읽고 쓰기
 - csv 파일의 자료를 dict data로 읽고 쓰기


# 3.1 reader

In [35]:
import csv 
with open('Data/ch09_member1.csv','r',encoding='utf-8')as f:
    reader = csv.reader(f)
    result = list(reader)
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [38]:
with open ('Data/ch09_member1-cp.csv','r') as f:
    read = csv.reader(f)
    for row in read:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구', '']
['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장']
['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']

In [40]:
# ""가 없는 데이터는 numberic으로
with open ('Data/ch09_member1-cp.csv','r') as f:
    read = csv.reader(f,quoting = csv.QUOTE_NONNUMERIC)
    for row in read:
        print(row)

ValueError: could not convert string to float: '홍길동'

## 3.2 writer
 - list -> csv로 저장

In [49]:
user_list = [ [ '신길동', '30', 'sindong@hong.com', '서울시 관악구'],
            ['홍길동', '20', 'sindong@hong.com', '서울시 동작구'],
            ['박길동', '25', 'sindong@hong.com', '서울시 서초구']]

In [50]:
# newline -''옵션 빼면 개행이 2번 (python 3.10)
try:
    with open('data/ch09_member2-writer.csv', 'w', newline='') as f: # r == rt, rb ; 'w' == wt, wb ; 'a'
        writer = csv.writer(f)
        for user in user_list:
            writer.writerow(user)
        writer.writerows(user_list)
except FileNotFoundError as e:
    print(e)

# 3.3 DictReader
 - CSV 파일을 딕셔너리 데이터로 읽기

In [53]:
import csv
#header가 있는 csv 파일을 딕셔너리로 읽기 (ch09_member3.csv)
with open ('Data/ch09_member3.csv','r',encoding='utf-8')as f:
    dict_reader = csv.DictReader(f)
    result = list(dict_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [55]:
import csv
#header가 있는 csv 파일을 딕셔너리로 읽기 (ch09_member3.csv)
with open ('Data/ch09_member3.csv','r',encoding='utf-8')as f:
    dict_reader = csv.DictReader(f, restval = '없음')
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [59]:
#csv 파일을 데이터프레임 데이터로 읽기
import pandas as pd 
members = pd.read_csv('Data/ch09_member3.csv')# 판다스는 기본이 utf-8
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [60]:
type(members)

pandas.core.frame.DataFrame

In [61]:
pd.DataFrame(data=result)

  name age    email   address   job
0  홍길동  20  h@h.com   서울시 관악구  None
1  신길동  40  s@h.com  서울시 영등포구    팀장
2  김길동  30  k@h.com   서울시 동작구  None

In [68]:
#헤더가 없는 CSV 파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('Data/ch09_member1-cp.csv','r') as f:
    dict_reader = csv.DictReader(f, fieldnames = ["Name","age","email","address"],
                                                 restkey = 'job')
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ['']}
{'Name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': ['팀장']}
{'Name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ['']}

In [69]:
#헤더가 없는 CSV 파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('Data/ch09_member1-cp.csv','r') as f:
    dict_reader = csv.DictReader(f, fieldnames = ["Name","age","email","address","job"])
    for row in dict_reader:
        print(row)

{'Name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ''}
{'Name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'Name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ''}

## 3.4 DictWriter
 - 딕셔너리 데이터 (딕셔너리 list)를 csv파일로 쓰기

In [71]:
user1 = {'Name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울'}
user2 = {'Name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '수원'}
user3 = {'Name': '마길동', 'age': '25', 'email': 'sindong@hong.com', 'address': '안양'}

user_list = [user1, user2, user3]
user_list

[{'Name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울'},
 {'Name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '수원'},
 {'Name': '마길동', 'age': '25', 'email': 'sindong@hong.com', 'address': '안양'}]

In [72]:
fieldnames = list(user1.keys())
fieldnames

['Name', 'age', 'email', 'address']

In [77]:
with open ('data/ch09_member4.csv','w',encoding='utf-8',newline='') as f:
    dict_writer = csv.DictWriter(f,fieldnames=fieldnames)
    dict_writer.writeheader() #header 1줄 쓰기
    dict_writer.writerows(user_list)

# 4. JSON 파일에 저장하고 불러오기 (dump, load)
[{'title':"국가정보원 화재", 'url' : 'http://~','content':'grgbresg'},
 {'title':"국가정보원 화재", 'url' : 'http://~','content':'grgbresg'},
 {'title':"국가정보원 화재", 'url' : 'http://~','content':'grgbresg'}]
 
 ## 4.1 JSON dump(파일에 저장)
 ### 1. 딕셔너리 list를 json파일로 저장

In [91]:
data = [{'Name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울'},
        {'Name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '수원'},
        {'Name': '마길동', 'age': '25', 'email': 'sindong@hong.com', 'address': '안양'}]

data

[{'Name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울'},
 {'Name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '수원'},
 {'Name': '마길동', 'age': '25', 'email': 'sindong@hong.com', 'address': '안양'}]

In [85]:
#ensure_ascii 옵션의 역할 :ASCII 코드를 넘어선 문자를 어떻게 처리할지 
# 기본값(True) : ASCII 코드 범위를 넘어선 글자는 유니코드로 저장
# FALSE : 비ASCII 문자는 원래 형태로 그대로 저장
import json
with open ('Data/ch09_member1,json','w') as jsonfile:
    json.dump(data, #딕셔너리리스트
             jsonfile, #파일 스트림
             ensure_ascii = False, # 비ASCII 콛 문자 처리 여부
             indent='  ') #들여쓰기 여부

### 2. 객체 list를 json파일로 저장

In [87]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age  = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{},{},{},{}".format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict__

In [88]:
member_list = [Member('홍길동',30,'h@h.com','서울'),
              Member('마길동',25,'m@h.com','하남'),
              Member('박길동',35,'p@p.com','대전')]

[member.__str__() for member in member_list]

['홍길동,30,h@h.com,서울', '마길동,25,m@h.com,하남', '박길동,35,p@p.com,대전']

In [90]:
with open ('Data/ch09_member2.json','w',encoding='utf-8') as jsonfile:
    json.dump(member_list, #저장할 리스트(객체리스트)
              jsonfile,
              ensure_ascii=False,
              indent='\t',
             default = Member.as_dict) # 객체를 딕셔너리 형태로  return 하는 함수

## 4.2 JSON load (파일 읽기)
### (1) json 파일을 딕셔너리 리스트로 읽기
### (2) json파일을 객체 리스트로 읽기 (딕셔너리를  객체로 return 하는 함수 필요)

In [92]:
### (1) json 파일을 딕셔너리 리스트로 읽기
with open ('Data/ch09_member1.json','r') as jsonfile:
    load_data = json.load(jsonfile)
load_data

[{'name': '홍길동', 'age': 20, 'email': 'h@h.com', 'address': '서울'},
 {'name': '김길동', 'age': 30, 'email': 'k@h.com', 'address': '부산'},
 {'name': '신길동', 'age': 40, 'email': 's@h.com', 'address': '안양'}]

In [93]:
type(load_data),type(load_data[0])

(list, dict)

In [102]:
#(2) json파일을 객체 리스트로 읽기 (딕셔너리를  객체로 return 하는 함수 필요)
def as_member(dic):
    return Member(dic.get('name'),
                  dic.get('age'),
                  dic.get('email'),
                  dic.get('address')
                 )

In [106]:
with open('Data/ch09_member2.json','r', encoding='utf-8') as jsonfile:
    load_member_list = json.load(jsonfile,
                                object_hook = as_member) # 딕셔너리를 객체로 return 함수
for load_member in load_member_list:
    print(load_member)

홍길동,30,h@h.com,서울
마길동,25,m@h.com,하남
박길동,35,p@p.com,대전

In [113]:
# member_list => ch09_member2.json => load_member_list
# member_list => load_member_list가 같은 내용인지 검사

result = [] #list 내 객체들끼리 비교 결과
for member, load_member in zip (member_list, load_member_list):
    result.append(member == load_member)
print('두 객체 리스트의 모든 데이터가 일치하는지 여부: ',all(result))

두 객체 리스트의 모든 데이터가 일치하는지 여부:  True

In [119]:
result =[True, True, True, False, True]

In [120]:
#false인 곳의 index
import numpy as np
result = np.array(result)
np.where(result == False)

(array([3], dtype=int64),)

In [122]:
result = set() #빈 셋 / () 빈 딕셔너리
for member, load_member in zip(member_list,load_member_list):
    result.add(member == load_member)
result

{True}