In [ ]:
import pandas as pd
import numpy as np
import sys #최대 정수
from tensorflow.keras import utils #to_categorical : 분류분석시 y 데이터 원핫인코딩
from tensorflow.keras.models import Sequential #모델생성
from tensorflow.keras.layers import Dense, Input
import matplotlib.pyplot as plt

# 로지스틱 회귀분석(이진분류)
## 데이터 셋 생성 & 전처리

In [8]:
# csv 파일을 데이터프레임으로 읽어오기(결측치 처리, )
df = pd.read_csv('data/pima-indians-diabetes.csv', comment ='#', header=None )
df

# 0. 임신횟수
# 1. 2시간내 포도당 농도
# 2. 혈압
# 3. 피부접힘 두께
# 4. 인슐린수치
# 5. BMI체질량지수
# 6. 가족력
# 7. 나이
# 8. 당뇨병발병여부

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [10]:
df.shape

(768, 9)

In [12]:
df.info() #결측치 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    int64
 1   1       768 non-null    int64
 2   2       768 non-null    int64
 3   3       768 non-null    int64
 4   4       768 non-null    int64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   7       768 non-null    int64
 8   8       768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [14]:
df.isna().sum() #열별 결측치 갯수

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [16]:
#타겟변수의 균형
df[8].value_counts()

0    500
1    268
Name: 8, dtype: int64

In [20]:
df.values

AttributeError: 'DataFrame' object has no attribute 'numpy'

In [27]:
# csv 파일을 numpy 배열로 읽어오기. np.loadtext() : #이 있는 행은 제외하고 읽어오긴
#기본 encoding = cp949
dataset = np.loadtxt('data/pima-indians-diabetes.csv', delimiter=',', encoding='utf-8')
dataset.shape

(768, 9)