#  데이터셋 가져오기

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('E:/ai/source/01_python/Data/ch13_df(결측치중위값으로대체).csv')
df.head()

  지역명   평당분양가격    연도   월
0  서울  18189.0  2013  12
1  부산   8111.0  2013  12
2  대구   8080.0  2013  12
3  인천  10204.0  2013  12
4  광주   6098.0  2013  12

 - 지역명 2: 지역명필드 라벨인코딩하여 추가
 - 독립변수 : 지역명 2, 연도, 월
 - 타겟변수 : 평당분양가격
 - 독립변수와 타겟변수의 스케일 조정
    * 정규화(minmaxscaler) 작업 후: 지역명2m, 연도m, 월 m
    * 표준화(standardscaler)작엽 후: 지역명2s, 연도s 월s
    
==> 지역명, 연도, 월, 지역명2, 지역명2m, 연도m, 월m, 지역명2s, 연도s, 월s

# 지역명 라벨인코딩
 * 지역명2

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# le.fit(df['지역명'])
# le.transform(df['지역명'])
df['지역명2'] = le.fit_transform(df['지역명']) # 문자데이터를 가나다순으로 정렬후 숫자로 변환
df.head()

  지역명   평당분양가격    연도   월  지역명2
0  서울  18189.0  2013  12     8
1  부산   8111.0  2013  12     7
2  대구   8080.0  2013  12     5
3  인천  10204.0  2013  12    11
4  광주   6098.0  2013  12     4

# MinMaxScale

In [5]:
X_data = df[['지역명2', '연도','월']].values # numpy배열로 추출한 독립변수
# values나 to_numpy()를 이용해서 데이터프레임을 numpy배열로 변환
y_data = df[['평당분양가격']].to_numpy() 
X_data.shape, y_data.shape

((2176, 3), (2176, 1))

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler_x = MinMaxScaler()
scaler_y = MinMaxScaler()
df[['지역명2m', '연도m','월m']] = scaler_x.fit_transform(X_data)
df[['평당분양가격m']] = scaler_y.fit_transform(y_data)
df.head()

  지역명   평당분양가격    연도   월  지역명2   지역명2m  연도m   월m   평당분양가격m
0  서울  18189.0  2013  12     8  0.5000  0.0  1.0  0.328198
1  부산   8111.0  2013  12     7  0.4375  0.0  1.0  0.065274
2  대구   8080.0  2013  12     5  0.3125  0.0  1.0  0.064466
3  인천  10204.0  2013  12    11  0.6875  0.0  1.0  0.119878
4  광주   6098.0  2013  12     4  0.2500  0.0  1.0  0.012757

# StandardScale 조정

In [8]:
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
scaler_y = StandardScaler()
df[['지역명2s', '연도s','월s']] = scaler_x.fit_transform(X_data)
df[['평당분양가격s']] = scaler_y.fit_transform(y_data)
df.head()

,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s
0,서울,18189.0,2013,12,8,0.5000,0.0,1.0,0.328198,0.000000,-1.875367,1.62196,1.168591
1,부산,8111.0,2013,12,7,0.4375,0.0,1.0,0.065274,-0.204124,-1.875367,1.62196,-0.728312
2,대구,8080.0,2013,12,5,0.3125,0.0,1.0,0.064466,-0.612372,-1.875367,1.62196,-0.734147
3,인천,10204.0,2013,12,11,0.6875,0.0,1.0,0.119878,0.612372,-1.875367,1.62196,-0.334363
4,광주,6098.0,2013,12,4,0.2500,0.0,1.0,0.012757,-0.816497,-1.875367,1.62196,-1.107203

# 지역명을 원핫인코등
 - 강원 0 => 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 - 서울 8 => 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0

In [10]:
df.loc [:16, ['지역명', '지역명2']].sort_values(by='지역명2')

   지역명  지역명2
9   강원     0
7   경기     1
15  경남     2
14  경북     3
4   광주     4
2   대구     5
5   대전     6
1   부산     7
0   서울     8
8   세종     9
6   울산    10
3   인천    11
13  전남    12
12  전북    13
16  제주    14
11  충남    15
10  충북    16

In [16]:
loc = df.loc [:16, ['지역명', '지역명2']].sort_values(by='지역명2')['지역명'].tolist() #원핫인코딩 후 열 이름원핫인코딩 후 열 이름
print(loc)

['강원', '경기', '경남', '경북', '광주', '대구', '대전', '부산', '서울', '세종', '울산', '인천', '전남', '전북', '제주', '충남', '충북']

In [26]:
from tensorflow.keras.utils import to_categorical
import pandas as pd
import numpy as np

temp1 = to_categorical(df['지역명2']) 
#to_categorical() 결과는 numpy 배열 최대정수가 16이면 0-16 카테고리로 원핫인코딩, 매개변수에 라벨인코딩 된 값

temp2 = pd.get_dummies(df['지역명2']).values
#pd.get_dummies() 결과는 데이터프레임, 정수가 곧 카테고리가 원핫인코딩, 매개변수에 문자(라벨인코딩 안된 값)

np.all(temp1 == temp2)

True

In [33]:
# 원핫인코딩방법 1
df[loc] = to_categorical(df['지역명2'])#.astype(np.int16)
pd.options.display.max_columns = 30
df[loc].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2176 entries, 0 to 2175
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   강원      2176 non-null   int16
 1   경기      2176 non-null   int16
 2   경남      2176 non-null   int16
 3   경북      2176 non-null   int16
 4   광주      2176 non-null   int16
 5   대구      2176 non-null   int16
 6   대전      2176 non-null   int16
 7   부산      2176 non-null   int16
 8   서울      2176 non-null   int16
 9   세종      2176 non-null   int16
 10  울산      2176 non-null   int16
 11  인천      2176 non-null   int16
 12  전남      2176 non-null   int16
 13  전북      2176 non-null   int16
 14  제주      2176 non-null   int16
 15  충남      2176 non-null   int16
 16  충북      2176 non-null   int16
dtypes: int16(17)
memory usage: 72.4 KB

In [35]:
df[loc] = df[loc].astype(np.int16)
df.head()

,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,서울,18189.0,2013,12,8,0.5000,0.0,1.0,0.328198,0.000000,-1.875367,1.62196,1.168591,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,부산,8111.0,2013,12,7,0.4375,0.0,1.0,0.065274,-0.204124,-1.875367,1.62196,-0.728312,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,대구,8080.0,2013,12,5,0.3125,0.0,1.0,0.064466,-0.612372,-1.875367,1.62196,-0.734147,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,인천,10204.0,2013,12,11,0.6875,0.0,1.0,0.119878,0.612372,-1.875367,1.62196,-0.334363,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,광주,6098.0,2013,12,4,0.2500,0.0,1.0,0.012757,-0.816497,-1.875367,1.62196,-1.107203,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [38]:
#원핫인코딩 방법2
df[loc] = pd.get_dummies(df['지역명2'])
df.head()

,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,서울,18189.0,2013,12,8,0.5000,0.0,1.0,0.328198,0.000000,-1.875367,1.62196,1.168591,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,부산,8111.0,2013,12,7,0.4375,0.0,1.0,0.065274,-0.204124,-1.875367,1.62196,-0.728312,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,대구,8080.0,2013,12,5,0.3125,0.0,1.0,0.064466,-0.612372,-1.875367,1.62196,-0.734147,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,인천,10204.0,2013,12,11,0.6875,0.0,1.0,0.119878,0.612372,-1.875367,1.62196,-0.334363,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,광주,6098.0,2013,12,4,0.2500,0.0,1.0,0.012757,-0.816497,-1.875367,1.62196,-1.107203,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [39]:
#원핫인코딩 데이터 지우기
df=df.drop(loc,axis=1)
df.head(1)

,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s
0,서울,18189.0,2013,12,8,0.5,0.0,1.0,0.328198,0.0,-1.875367,1.62196,1.168591

In [42]:
#원핫인코딩방법3

df = pd.concat([df,pd.get_dummies(df['지역명'])],axis=1)
df.sample(5)

,지역명,평당분양가격,연도,월,지역명2,지역명2m,연도m,월m,평당분양가격m,지역명2s,연도s,월s,평당분양가격s,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
960,세종,10388.4,2018,9,9,0.5625,0.454545,0.727273,0.124689,0.204124,-0.266473,0.753295,-0.299655,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
485,강원,6986.1,2016,5,0,0.0000,0.272727,0.363636,0.035927,-1.632993,-0.910030,-0.404925,-0.940043,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1022,경기,14051.4,2019,1,1,0.0625,0.545455,0.000000,0.220253,-1.428869,0.055306,-1.563144,0.389803,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1039,경기,14044.8,2019,2,1,0.0625,0.545455,0.090909,0.220081,-1.428869,0.055306,-1.273589,0.388561,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1209,경기,14826.9,2019,12,1,0.0625,0.545455,1.000000,0.240485,-1.428869,0.055306,1.621960,0.535769,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0